<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== css  ===============-->
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>

  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=62d1cc19b6b056001a4f9106&product=sop'
    async='async'></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title><%= title %></title>
</head>

<body>

  <% if(title !== "Needa | Login" && title !== "Needa | Register" && title !== "Needa | Password Reset" && title !== "Needa | Password Reset Update" && title !== "Needa | Password Link Expired") { %>
  <header id="header">
    <div style="width: 95%;margin:auto;">
      <nav>
        <div class="navbar flex-row-gap-15">
          <a href="/" class="nav-logo">
            <h1 style="color: #7449F5;">Needa</h1>
          </a>
          <form action="/auth/find-professionals" method="POST" id="find-professionals-form" class="nav-search flex-row-gap-15">
            <div id="header-nav-search">
              <input type="text" name="profession" id="header-search" placeholder="I needa..." pattern="[^\s][a-zA-Z ]+" required>
              <div id="header-match-list"></div>
            </div>
            <input type="text" name="location" id="header-location" placeholder="City, State or Zip" required>
            <button id="header-submit-btn">Search</button>
          </form>
         
          <ul class="nav-menu">

            <li class="nav-item">
              <div class="dropdown" data-dropdown>
                <button class="link" data-dropdown-button style="box-shadow:none;color:#666;">Pages <i class="fa-solid fa-caret-down"
                    data-dropdown-button></i></button>
                <div class="dropdown-menu">
                  <a href="/">
                    <div class="dropdown-links">
                      <i class="fas fa-home"></i>
                      <h3>Home</h3>
                    </div>
                  </a>
                  <a href="/help">
                    <div class="dropdown-links">
                      <i class="fa-solid fa-circle-info"></i>
                      <h3>Help</h3>
                    </div>
                  </a>
                  <a href="/contact">
                    <div class="dropdown-links">
                      <i class="fa-solid fa-address-card"></i>
                      <h3>Contact</h3>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <!-- IF USER IS LOGGED IN -->

            <% if (typeof user !="undefined" && user) { %>
              <li class="nav-item">
                <div class="dropdown" data-dropdown>
                  <div class="user-icon link" data-dropdown-button>

                    <!-- IF USER HAS A PROFILE PICTURE -->
                    <% if(typeof user.profile_photo !=="undefined" && user.profile_photo) { %>
                      <style>
                        .user-icon {
                          background-image: url("http://localhost:5000/profile-photo/<%= user.id %>/<%= user.profile_photo %>");
                        }
                      </style>
                    <% } else { %>
                      <i class="fas fa-user link" data-dropdown-button></i>
                    <% } %>

                  </div>
                  <div class="dropdown-menu">
                    <a href="/profile">
                      <div class="dropdown-links top-link">
                        <div class="user-icon">

                          <!-- IF USER HAS A PROFILE PICTURE ( DROP DOWN MENU ) -->

                          <% if(typeof user.profile_photo !=="undefined" && user.profile_photo) { %>
                            <style>
                              .user-icon {
                                background-image: url("http://localhost:5000/profile-photo/<%= user.id %>/<%= user.profile_photo %>");
                              }
                            </style>
                          <% } else { %>
                            <i class="fas fa-user link" data-dropdown-button></i>
                          <% } %>
                        </div>
                        <h3>
                          <%= user.first_name %>
                            <%= user.last_name%>
                        </h3>
                      </div>
                    </a>
                    <% if (typeof user !="undefined" && user.admin==="Yes" ) { %>
                      <a href="/admin">
                        <div class="dropdown-links">
                          <i class="fa-solid fa-unlock"></i>
                          <h3>Admin</h3>
                        </div>
                      </a>
                    <% } %>
                    <a href="/dashboard">
                      <div class="dropdown-links">
                        <i class="fa-solid fa-chart-line"></i>
                        <h3>Dashboard</h3>
                      </div>
                    </a>
                    <a href="/profile">
                      <div class="dropdown-links">
                        <i class="fas fa-user-circle"></i>
                        <h3>Profile</h3>
                      </div>
                    </a>
                    <a href="/feed">
                      <div class="dropdown-links">
                        <i class="fa-solid fa-user-group"></i>
                        <h3>Feed</h3>
                      </div>
                    </a>
                    <a href="/settings">
                      <div class="dropdown-links">
                        <i class="fa-solid fa-gear"></i>
                        <h3>Settings</h3>
                      </div>
                    </a>
                    <a href="/auth/logout">
                      <div class="dropdown-links bottom-link">
                        <i class="fas fa-sign-out"></i>
                        <h3>Logout</h3>
                      </div>
                    </a>
                  </div>
                </div>

              </li>
              <li>
               <a href="/feed"><button id="add-post-btn"><i class="fa-solid fa-plus"></i> Add Post</button></a>
              </li>

              <!-- ELSE USER IS NOT LOGGED IN -->


            <% } else { %>
              <li class="nav-item">
                <a href="/login" class="nav-link">
                  <i class="fa-solid fa-circle-user"></i> Sign In
                </a>
              </li>
            <% } %>

          </ul>
        </div>
      </nav>
    </div>
  </header>

  <% } %>

  <section id="cookies">
    <div class="container">
      <div class="cookies">
        <p>This website uses cookies to ensure you get the best experience on our website. <a href=""
            id="more-info-link">More info.</a></p>
        <button id="cookies-btn" style="padding: 8px 12px 8px 12px;">That's fine</button>
      </div>
    </div>
  </section>

    <% if(title !=="Needa | Login" && title !=="Needa | Register" && title !=="Needa | Password Reset" && title !== "Needa | Password Reset Update" && title !== "Needa | Password Link Expired") { %>
      <script src="/js/header-search-list.js"></script>
    <% } %>
