<%- include("partials/header.ejs") %>
<%- include("partials/backend-toast.ejs") %>
<%- include("partials/frontend-toast.ejs") %>

  <div class="app">

    <aside class="sidebar">
      <h2>MAIN</h2>
      <nav class="menu">
        <a href="/dashboard" class="menu-item">Dashboard</a>
        <a href="/settings" class="menu-item">Edit profile</a>
        <a href="/settings/showcase" class="menu-item">Upload images</a>
        <a href="/settings/account" class="menu-item is-active">Delete account</a>
        <a href="/feed" class="menu-item">Live feed</a>
        <a href="/my-posts" class="menu-item">My Posts</a>
        <a href="/add-new" class="menu-item">Add New</a>
      </nav>
    </aside>

    <main class="content">

      <div class="hamburger-container">
        <div class="menu-toggle">
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </div>

      <div id="accountSection">
        <div class="account-wrapper">
          <div class="account-col-2">
            <form class="account-col-2-child flex-column-gap-15" action="/auth/delete-account" method="POST">
              <h2>Delete account</h2>
              <p>Are you absolutely sure you want to delete your needa.com account? <span style="font-weight: 600;">Please note your personal data will be deleted permanently when you delete your account and there is no option to
              restore the account or its data.</span> Complete your request by entering the password associated with your account.
              </p>
              <div class="user-input flex-column-gap-5">
                <input type="password" name="password" placeholder="Enter your password..." maxlength="60" required>
              </div>
              <button id="delete-account-btn">Delete my account</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/toast-front-end.js"></script>
  <script src="/js/header-form-authentication.js"></script>
  <% if (typeof user !="undefined" && user) { %>
    <script>
      const userCity = "<%= user.city %>";
      const userState = "<%= user.state %>";
      document.querySelector("#header-location").value = `${userCity}, ${userState}`;
    </script>
  <% } %>

</body>

</html>