<%- include("partials/header.ejs") %>
<%- include("partials/location-modal.ejs") %>

  <section id="adminSection">
    <div class="container">
      <div class="subcontainer">
        <form action="/auth/find-user" method="POST">
          <div class="admin-child-1">
            <div>
              <h2>USER MANAGEMENT SYSTEM</h2>
            </div>
            <div>
              <input type="text" name="search" placeholder="John Doe..."><button>Search</button>
            </div>
          </div>
        </form>
        <div class="admin-child-2">
          <a href="/admin" class="view"><i class="fa-solid fa-eye"></i> View Users</a>
          <a href="/add-user" class="edit"><i class="fa-solid fa-user-plus"></i> Add User</a>
        </div>
        <div class="admin-child-3">
          <table>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Status</th>
              <th class="text-end">Action</th>
            </tr>
            <% for(let i=0;i < rows.length;i++) { %>
              <tr>
                <td>
                  <%= rows[i].id %>
                </td>
                <td>
                  <%= rows[i].first_name %>
                </td>
                <td>
                  <%= rows[i].last_name %>
                </td>
                <td>
                  <%= rows[i].email %>
                </td>
                <td>
                  <%= rows[i].status %>
                </td>
                <td class="text-end">
                  <a href="/view-user/<%= rows[i].id %>" class="view"><i class="fa-solid fa-eye"></i> View</a>
                  <a href="/edit-user/<%= rows[i].id %>" class="edit"><i class="fa-solid fa-pencil"></i> Edit</a>
                  <a href="/del-user/<%= rows[i].id %>" class="delete"><i class="fa-solid fa-user-minus"></i> Delete</a>
                </td>
              </tr>
            <% } %>
          </table>
        </div>
    
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
  
  <% if (typeof user !="undefined" && user) { %>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLVBTACqJtv8Od3WvXYZPV3kXZtDUwBrk&q&callback=getCoordinates">
      </script>
    <script src="/js/google-map.js"></script>
  <% } %>

  <%- include("partials/footer.ejs") %>