<%- include("partials/header.ejs") %>
<%- include("partials/frontend-toast.ejs") %>

  <div class="app">

    <aside class="sidebar">
      <h2>MAIN</h2>
      <nav class="menu">
        <a href="/dashboard" class="menu-item">Dashboard</a>
        <a href="/settings" class="menu-item">Edit profile</a>
        <a href="/settings/showcase" class="menu-item">Upload images</a>
        <a href="/settings/account" class="menu-item">Delete account</a>
        <a href="/feed" class="menu-item is-active">Live feed</a>
        <a href="/my-posts" class="menu-item">My Posts</a>
        <a href="/add-new" class="menu-item">Add New</a>
      </nav>
    </aside>

    <main class="content">

      <div class="hamburger-container">
        <div class="menu-toggle">
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </div>


      <div id="feed-section">
        <div class="feed-main flex-column-gap-20">

          <div class="feed-header">
            <h2>Live feed</h2>
            <p>Location: <span><%= user.county %></span></p>
          </div>
          
          <div class="feed-wrapper">
            <div class="feed-column">
              <% if(rows) { %>
                <% for(let i=0;i < rows.length;i++) { %>
                  <div class="post flex-column-gap-20">
        
                    <% if(rows[i].profile_photo) { %>
        
                      <div style="display:flex;justify-content:space-between;">
                        <div class="image"
                          style="background-image: url('http://localhost:5000/user-photo/<%= rows[i].id %>/<%= rows[i].profile_photo%>');">
                        </div>
                        <% if(rows[i].id===user.id) { %>
                          <i class="fa-solid fa-trash"></i>
                        <% } %>
                      </div>
        
                      <div class="flex-row-gap-5" style="align-items: center;">
                        <h3>
                          <%= rows[i].first_name %>
                        </h3>
                        <h3>
                          <%= rows[i].last_name %>
                        </h3>
                      </div>
        
                      <% } else { %>
        
                        <div style="display:flex;justify-content:space-between;">
                          <div class="image">
                            <i class="fas fa-user" id="fa-user"></i>
                          </div>
                          <% if(rows[i].id===user.id) { %>
                            <i class="fa-solid fa-trash"></i>
                          <% } %>
                        </div>
        
                        <div class="flex-row-gap-5" style="align-items: center;">
                          <h3>
                            <%= rows[i].first_name %>
                          </h3>
                          <h3>
                            <%= rows[i].last_name %>
                          </h3>
                        </div>
                        <% } %>
                          <p>
                            <%= rows[i].city%>, <%= rows[i].state %>
                          </p>
                          <p>
                            <%= rows[i].date %>
                          </p>
                          <p>
                            <%= rows[i].post %>
                          </p>
                  </div>
                  <% } %>
                    <% } %>
        
            </div>
            <div class="feed-column">
              <div
                style="height: 300px;background-color: white;border-radius:5px;box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);">
        
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


  <script src="/js/script.js"></script>
  <script src="/js/toast-front-end.js"></script>
  <script src="/js/header-form-authentication.js"></script>

  <% if (typeof user !="undefined" && user) { %>
    <script>
      const userCity = "<%= user.city %>";
      const userState = "<%= user.state %>";
      document.querySelector("#header-location").value = `${userCity}, ${userState}`;
    </script>
  <% } %>

</body>

</html>