<%- include("partials/header.ejs") %>  
<%- include("partials/frontend-toast.ejs") %>

<section id="help-showcase" class="fade">
    <div class="help-showcase-overlay">
        <div class="container">
            <div class="subcontainer">
                <div class="help-showcase-header flex-column-gap-15">
                    <div class="help-showcase-header-box-1 flex-column-gap-10">
                        <h1>Frequently Asked Questions</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id corrupti assumenda facere?</p>
                    </div>
                    <div class="scroll-down-wrap">
                        <div class="mousey">
                            <div class="scroller"></div>
                        </div>
                        <span>Scroll Down To Discover</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                  
<!-- breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-wrapper">
            <div class="breadcrumbs-list">
                <a href="/">Home</a> <i class="fa-solid fa-circle"></i> <span>Help FAQ</span>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs end -->


<section>
    <div class="container">
        <div class="faq-grid">

            <div class="faq-nav">
                <div class="faq-nav-header">
                    <h3>FAQ Navigation</h3>
                    <ul>
                        <a href="#payments">
                            <h5>Payments</h5><i class="fa-solid fa-caret-right"></i>
                        </a>
                        <a href="#suggestions">
                            <h5>Suggestions</h5><i class="fa-solid fa-caret-right"></i>
                        </a>
                        <a href="#recommendations">
                            <h5>Recommendations</h5><i class="fa-solid fa-caret-right"></i>
                        </a>
                        <a href="#booking">
                            <h5>Bookings</h5><i class="fa-solid fa-caret-right"></i>
                        </a>
                        <a href="#listing">
                            <h5>Listings</h5><i class="fa-solid fa-caret-right"></i>
                        </a>
                    </ul>
                </div>
            </div>
            
            <div class="faq-accordions">

                <section id="payments">
                    <div class="faq-header">
                        <h3>Payments</h3>
                        <span></span>
                    </div>
                    <div class="accordion-container flex-column-gap-10">
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                        </div>
                    </div>
                </section>
                
                <section id="suggestions">
                    <div class="faq-header">
                        <h3>Suggestions</h3>
                        <span class="span"></span>
                    </div>
                    <div class="accordion-container flex-column-gap-10">
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                    </div>
                </section>
                <section id="recommendations">
                    <div class="faq-header">
                        <h3>Recommendations</h3>
                        <span class="span"></span>
                    </div>
                    <div class="accordion-container flex-column-gap-10">
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                    </div>
                </section>
                <section id="booking">
                    <div class="faq-header">
                        <h3>Bookings</h3>
                        <span class="span"></span>
                    </div>
                    <div class="accordion-container flex-column-gap-10">
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                    </div>
                </section>
                <section id="listing">
                    <div class="faq-header">
                        <h3>Listings</h3>
                        <span class="span"></span>
                    </div>
                    <div class="accordion-container flex-column-gap-10">
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                        <button class="accordion">How long does the sending process take?</button>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

      
<section id="newsletter-section">
    <div class="container">
        <div class="newsletter">
            <div class="newsletter-header flex-column-gap-10">
                <p>NEWSLETTER</p>
                <h3>Sign up for Newsletter and get the latest update</h3>
            </div>
            <form action="/newsletter" class="newsletter-input" method="POST" id="newsletter-form">
                <input type="email" placeholder="Enter Your Email" id="email" name="email" maxlength="100" required>
                <button>Subscribe</button>
            </form>
        </div>
    </div>
</section>

<script src="/js/script.js"></script>
<script src="/js/toast-front-end.js"></script>
<script src="/js/header-form-authentication.js"></script>
<script src="/js/newsletter.js"></script>

<% if (typeof user !="undefined" && user) { %>
    <script>
        const userCity = "<%= user.city %>";
        const userState = "<%= user.state %>";
        document.querySelector("#header-location").value = `${userCity}, ${userState}`;
    </script>
<% } %>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active-accordion");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>


<%- include("partials/footer.ejs") %>