  <%- include("partials/header.ejs") %>
  <%- include("partials/backend-toast.ejs") %>
  <%- include("partials/frontend-toast.ejs") %>

  <!-- CAROUSEL -->

  <section id="carousel" class="fade">
    <div class="carousel-overlay">
      <div class="container">
        <div class="subcontainer">
          <div class="carousel-header flex-column-gap-15">
            <div class="carousel-header-box-1 flex-column-gap-10">
              <h4>Services Searching Platform</h4>
              <h1>Find Professionals in Your Area <br>
              Using Our Platform</h1>
              <p>Need someone to build you a fence? Mow your lawn? Cut your hair? DJ at your party? Or maybe someone to walk your
                dog? No problem. Search for professionals of any trade in your area today.
              </p>
            </div>

            <form action="/auth/find-professionals" method="POST" id="findProsForm" class="carousel-header-box-2">
              <div>
                <input type="text" name="profession" id="home-search" placeholder="I needa..." pattern="[^\s][a-zA-Z ]+" required>
                <div id="home-match-list"></div>
              </div>
              <div class="location">
                <input type="text" name="location" id="home-location" placeholder="City, State or Zip" required>
              </div>
              <button id="home-submit-btn">Search<i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="scroll-down-wrap">
              <div class="mousey">
                <div class="scroller"></div>
              </div>
              <span>Scroll Down To Discover</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- breadcrumbs-->
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs-wrapper">
        <div class="breadcrumbs-list">
          <a href="/">Home</a> <i class="fa-solid fa-circle"></i> <span>Home Image</span>
        </div>
        <div class="sharethis-inline-share-buttons" style="z-index: 0;"></div>
      </div>
    </div>
  </div>
  <!-- breadcrumbs end -->

  <!-- POPULAR SEARCHES -->
  
  <section id="popular-section">
    <div class="container">
      <div class="popular-section-header flex-column-gap-10">
        <h4 style="color: #7449F5;">BROWSE SERVICES</h4>
        <h1>MOST POPULAR</h1>
      </div>
      <div class="grid-wrapper-popular-searches"></div>
  
      <div class="popular-section-footer">
        <button>View All Professions</button>
      </div>
    </div>
  </section>


  <section id="why-us-section">
    <div class="container">
      <div class="why-us-grid">
        <div class="why-us-info">
          <div  class="flex-column-gap-10">
            <h1>What Needa Brings to the Table</h1>
            <p>Whether your a professional or someone who needs services, we got something for you.</p>
          </div>
          <div class="flex-column-gap-35">
            <div class="why-us-box flex-row-gap-20">
              <button><i class="fas fa-hand-holding-usd"></i></button>
              <div style="width: 80%;">
                <h3>Side Income</h3>
                <p>Need some extra cash? Offer your services on our platform and start picking up side gigs today!
                </p>
              </div>
            </div>
            <div class="why-us-box flex-row-gap-20">
              <button><i class="fas fa-user-tie"></i></button>
              <div style="width: 80%;">
                <h3>Entrepreneurship</h3>
                <p>Need to get your business of the ground? Grow your customer base with free promotion.    
                </p>
              </div>
            </div>
            <div class="why-us-box flex-row-gap-20">
              <button><i class="fa-solid fa-desktop"></i></button>
              <div style="width: 80%;">
                <h3>Live Feed</h3>
                <p>Need services right away? Create a post of what you need and have professionals contact you with a quote.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="why-us-img"></div>
      </div>
    </div>
  </section>


  <section id="popular-searches-section">
    <div class="slide-img flex-column-gap-15">
      <h1>Available in the U.S.</h1>
      <p>Needa professionals are available in cities across the United States.</p>
    </div>
    <div class="slide-img">
      <h2>San Francisco, CA</h2>
    </div>
    <div class="slide-img">
      <h2>New York, NY</h2>
    </div>
    <div class="slide-img">
      <h2>Los Angeles, CA</h2>
    </div>
  </section>

  <!-- section -->
  <section id="testimonials-section">
    <div class="container">
      <div class="testimonials-section-header flex-column-gap-10" style="text-align:center;">
        <h3 style="color: #7449F5;">TOP RATED</h3>
        <h1>MEET OUR PROFESSIONALS</h1>
      </div>
      <div class="grid-wrapper-testimonials-searches">    
      </div>
    </div>
  </section>


  <section id="newsletter-section">
    <div class="container">
      <div class="newsletter">
        <div class="newsletter-header flex-column-gap-10">
          <p>NEWSLETTER</p>
          <h3>Sign up for Newsletter and get the latest update</h3>
        </div>
        <form action="/newsletter" class="newsletter-input" method="POST" id="newsletter-form">
          <input type="email" placeholder="Enter Your Email" id="email" name="email" maxlength="100" required>
          <button>Subscribe</button>
        </form>
      </div>
    </div>
  </section>


  <script src="/js/script.js"></script>
  <script src="/js/load-popular-searches.js"></script>
  <script src="/js/load-our-testimonials.js"></script>
  <script src="/js/lazy-loading.js"></script>
  <script src="/js/carousel.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/toast-front-end.js"></script>
  <script src="/js/home-search-list.js"></script>
  <script src="/js/newsletter.js"></script>
  <script src="/js/header-form-authentication.js"></script>
  <script>
    document.querySelector("#findProsForm").addEventListener("submit", (e) => {
      e.preventDefault();
      const isValidProfession = /^[a-zA-Z][a-zA-Z\s]*$/.test(document.querySelector("#home-search").value);
      const isValidZip = /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(document.querySelector("#home-location").value);
      const isValidCityState = /^[a-zA-Z\s]+,[ ]?[a-zA-Z]{0,2}$/.test(document.querySelector("#home-location").value);
      if ((isValidProfession && isValidZip) || (isValidProfession && isValidCityState))
        document.querySelector("#findProsForm").submit();
      else
        displayToast("error", "Please enter a valid profession and location");
    });
  </script>


  <% if(typeof user === "undefined") { %>
    <script>
      const forms = document.querySelectorAll(".my-form");
      forms.forEach(f => {
          f.addEventListener("submit", (e) => {
            e.preventDefault();
            displayToast("warning", "Please register/login to use this feature or input profession, city, state, or zip manually.");
          });
      })
    </script>
  <% } %>

  <% if (typeof user !="undefined" && user) { %>
    <script>
      const userCity = "<%= user.city %>";
      const userState = "<%= user.state %>";
      let myLocation = document.querySelectorAll(".my-location");
      document.querySelector("#home-location").value = `${userCity}, ${userState}`;
      document.querySelector("#header-location").value = `${userCity}, ${userState}`;
      myLocation.forEach(l => {
        l.value = `${userCity}, ${userState}`;
      })
    </script>
  <% } %>

<%- include("partials/footer.ejs") %>