<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>

  <title> <%= title %> </title>
</head>

<body>

  <section id="cookies">
    <div class="container">
      <div class="subcontainer">
        <div class="cookies">
          <p>This website uses cookies to ensure you get the best experience on our website. <a href=""
              id="more-info-link">More info.</a></p>
          <button id="cookies-btn" style="padding: 8px 12px 8px 12px;">I agree</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="toast-wrapper">
      <div class="toast">
        <div class="icon-container"></div>
        <div class="message-container flex-5"></div>
        <button id="closeToast">&times;</button>
      </div>
    </div>
  </section>

  <header id="homeHeader">
    <div class="container">
      <div class="subcontainer">
        <nav>
          <div class="navbar">
            <a href="/" class="nav-branding">
              <h1>Needa</h1>
            </a>
            <ul class="nav-menu">
              <% if (typeof user !="undefined" && user) { %>
                <li class="nav-item">
                  <div class="dropdown" data-dropdown>
                    <div class="user-icon link" data-dropdown-button>
                      <% if(typeof user.profile_photo !="undefined" && user.profile_photo) { %>
                        <style>
                          .user-icon {
                            background-image: url("http://localhost:5000/profile-photo/<%= user.id%>/<%= user.profile_photo %>");
                          }
                        </style>
                      <% } else { %>
                        <i class="fas fa-user link" data-dropdown-button></i>
                      <% } %>
                    </div>
                    <div class="dropdown-menu">
                      <a href="/profile">
                        <div class="dropdown-links top-link">
                          <div class="user-icon" data-dropdown-button>
                            <% if(typeof user.profile_photo !="undefined" && user.profile_photo) { %>
                              <style>
                                .user-icon {
                                  background-image: url("http://localhost:5000/profile-photo/<%= user.id%>/<%= user.profile_photo %>");
                                }
                              </style>
                            <% } else { %>
                              <i class="fas fa-user link" data-dropdown-button></i>
                            <% } %>
                          </div>
                          <h3>
                            <%= user.first_name %>
                            <%= user.last_name%>
                          </h3>
                        </div>
                      </a>
                      <a href="/">
                        <div class="dropdown-links">
                          <i class="fas fa-home"></i>
                          <h3>Home</h3>
                        </div>
                      </a>
                      <a href="/profile">
                        <div class="dropdown-links">
                          <i class="fas fa-user-circle"></i>
                          <h3>My Profile</h3>
                        </div>
                      </a>
                      <a href="/settings">
                        <div class="dropdown-links">
                          <i class="fa-solid fa-gear"></i>
                          <h3>Settings</h3>
                        </div>
                      </a>
                      <% if (typeof user !="undefined" && user.admin==="Yes" ) { %>
                        <a href="/admin">
                          <div class="dropdown-links">
                            <i class="fa-solid fa-unlock"></i>
                            <h3>Admin</h3>
                          </div>
                        </a>
                      <% } %>
                      <a href="/auth/logout">
                        <div class="dropdown-links bottom-link">
                          <i class="fas fa-sign-out"></i>
                          <h3>Logout</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <% } else { %>
                  <li class="nav-item">
                    <a href="/login" class="nav-link">Log in</a>
                  </li>
                  <li class="nav-item">
                    <a href="/register" class="nav-link"><button style="padding: 8px 12px 8px 12px;font-size: 1rem;"
                        id="register-user-btn">Register</button></a>
                  </li>
                <% } %>
            </ul>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <section id="carousel" class="fade">
    <div class="container">
      <div class="subcontainer">
        <div class="carousel-header flex-column-gap-15">
          <div class="carousel-header-box-1 flex-column-gap-10">
            <h1>Needa connects you with working professionals in your area.</h1>
            <p>Need someone to build you a fence? Mow your lawn? Cut your hair? DJ at your party? Or maybe someone to walk your
              dog? No problem. Search for professionals of any trade in your area today.
            </p>
          </div>

          <form action="/auth/find-professionals" method="POST" id="findProsForm" class="carousel-header-box-2">
            <input type="hidden" name="zip" id="zip">
            <input type="hidden" name="city" id="city">
            <input type="hidden" name="state" id="state">
            <input type="hidden" name="county" id="county">
            <div>
              <input type="text" name="profession" id="profession" placeholder="I needa...">
            </div>
            <div class="location">
              <input type="text" id="location" placeholder="City, State or Zip">
            </div>
            <!-- <div>
              <p>Or</p>
            </div> -->
            <!-- <button id="locationBtn"><i class="fa-solid fa-location-crosshairs"></i></button> -->
            
            <i class="fas fa-search"></i>
            <button id="submitBtn">SEARCH</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="popularSearches">
    <div class="container">
      <div class="subcontainer">
        <div class="recommended">
          <div class="controller">
            <div>
              <h3>Popular Searches</h3>
            </div>
            <div id="controls_1">
              <button class="previous_1"><i class="fas fa-angle-left"></i></button>
              <button class="next_1"><i class="fas fa-angle-right"></i></button>
            </div>
          </div>
          <div class="my-slider-1">
            <div>
              <div class="slide">
                <div class="slide-img img-1_1">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Mechanics</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_2">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Tutors</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>

            <div>
              <div class="slide">
                <div class="slide-img img-1_3">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Personal Trainers</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_4">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Landscapers</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_5">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Movers</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_6">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Carpenters</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_7">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Cleaners</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_8">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Caterers</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_9">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>DJ's</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_10">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Plumbers</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_11">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Barbers</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-1_12">
                  <p>Learn More</p>
                </div>
                <div>
                  <h3>Security</h3>
                  <p>Needa <i class="far fa-check-circle" style="font-size: 0.8rem;color: #009999;"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="topRatedMembers">
    <div class="container">
      <div class="subcontainer">
        <div class="recommended">
          <div class="controller">
            <div>
              <h3>Top Rated Members</h3>
            </div>
            <div id="controls_2">
              <button class="previous_2"><i class="fas fa-angle-left"></i></button>
              <button class="next_2"><i class="fas fa-angle-right"></i></button>
            </div>
          </div>
          <div class="my-slider-2">
            <div>
              <div class="slide">
                <div class="slide-img img-2_1">
                  <p>Learn More</p>
                </div>
                <div class="user">
                  <div>
                    <h3>Dirrel Smith</h3>
                    <p>Electrician</p>
                  </div>
                  <div class="user-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-2">
                  <p>Learn More</p>
                </div>
                <div class="user">
                  <div>
                    <h3>Dirrel Smith</h3>
                    <p>Electrician</p>
                  </div>
                  <div class="user-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-3">
                  <p>Learn More</p>
                </div>
                <div class="user">
                  <div>
                    <h3>Dirrel Smith</h3>
                    <p>Electrician</p>
                  </div>
                  <div class="user-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-4">
                    <p>Learn More</p>
                </div>
                <div class="user">
                  <div>
                    <h3>Dirrel Smith</h3>
                    <p>Electrician</p>
                  </div>
                  <div class="user-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="slide">
                <div class="slide-img img-5">
                  <p>Learn More</p>
                </div>
                <div class="user">
                  <div>
                    <h3>Dirrel Smith</h3>
                    <p>Electrician</p>
                  </div>
                  <div class="user-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="advertising">
    <div class="container">
      <div class="subcontainer">
        <div class="header">
          <h1>ARE YOU A PROFESSIONAL LOOKING FOR A SIDE JOB?</h1>
          <a href="/register"><button>SIGN UP</button></a>
        </div>
      </div>
    </div>
  </section>

<script src="/js/script.js"></script>

<script>
  window.addEventListener("scroll", () => {
    const homeHeader = document.querySelector("#homeHeader");
    homeHeader.classList.toggle("sticky", window.scrollY > 0);
  })
</script>

<%- include("partials/footer.ejs") %>