<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>
<%- include("partials/front-end-toast.ejs") %>

  <div id="login-grid" class="password-reset">
    <div class="brand-grid">
      <div class="brand-header">
        <a href="/">
          <h1>Needa</h1>
        </a>
        <div class="mrb_dec"></div>
        <div class="mrb_dec2"></div>
      </div>
      <div class="brand-img">
        <div class="mrb_pin"></div>
        <div class="mrb_pin mrb_pin2"></div>
      </div>
    </div>
    <% if (typeof token_success !="undefined" && token_success) { %>
      <form action="/auth/update-password" method="POST">
        <div class="form-title">
          <h2>Update password</h2>
        </div>
        <div class="password-container">
          <input type="hidden" name="token" class="form-control" value="<%= token %>">
          <input type="hidden" name="token_expires" class="form-control" value="<%= token_expires %>">
          <input type="hidden" name="id" class="form-control" value="<%= id %>">
          <input type="password" id="password" name="password" maxlength="60" placeholder="Password" required>
          <i class="fa-solid fa-eye" id="show-password"></i>
        </div>
        <div class="input-group">
          <input type="password" id="password-confirm" name="password_confirm" maxlength="60" placeholder="Confirm password" required>
        </div>
        <div class="input-group">
          <button id="update-password">Update</button>
        </div>
      </form>
    <% } %>
  </div>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/toast-front-end.js"></script>
  <script src="/js/register-show-password.js"></script>
  <script>

    const passwordError = document.querySelector("#password-error"),
    passwordConfirmError = document.querySelector("#password-confirm-error");

    function validatePassword() {
      let password = document.querySelector("#password").value;
      validate(password, /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,60}$/, passwordError);
    }

    function validatePasswordConfirm() {
      let passwordConfirm = document.querySelector("#password-confirm").value;
      validate(passwordConfirm, /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,60}$/, passwordConfirmError);
    }

    function validate(input, regex, output) {
      if (input.match(regex) && input.length !== 0) {
        output.innerHTML = "<i class='fa-solid fa-circle-check'></i>";
        return true;
      } else if (input.length === 0) {
        output.innerHTML = "";
        return false;
      } else {
        output.innerHTML = "<i class='fa-solid fa-circle-xmark'></i>";
      }
    }
  </script>


<%- include("partials/footer.ejs") %>