<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>

  <style>
    body {
      background-color: whitesmoke;
    }
  </style>

  <section id="updatePassword">
    <div class="container">
      <div class="subcontainer">
        <% if (typeof token_success !="undefined" && token_success) { %>
          <form action="/auth/update-password" id="register-form" method="POST">
            <div class="form-title">
              <h1>New password</h1>
              <i class="fa-solid fa-key"></i>
            </div>
            <div class="input-group">
              <input type="hidden" name="token" class="form-control" value="<%= token %>">
              <input type="hidden" name="token_expires" class="form-control" value="<%= token_expires %>">
              <input type="hidden" name="id" class="form-control" value="<%= id %>">
              <input type="password" id="password" name="password" maxlength="60" placeholder="Password" onkeyup="validatePassword()" required>
              <span id="password-error"></span>
            </div>
            <div class="input-group">
              <input type="password" id="password-confirm" name="password_confirm" maxlength="60" placeholder="Confirm password" onkeyup="validatePasswordConfirm()" required>
              <span id="password-confirm-error"></span>
            </div>
            <div id="show-password-container">
              <div>
                <input type="checkbox" id="show-password">
                <label for="show-password">Show password</label>
              </div>
            </div>
            <div class="input-group">
              <button id="update-password">Update</button>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/register-show-password.js"></script>
  <script>

    const passwordError = document.querySelector("#password-error"),
    passwordConfirmError = document.querySelector("#password-confirm-error");

    function validatePassword() {
      let password = document.querySelector("#password").value;
      validate(password, /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,60}$/, passwordError);
    }

    function validatePasswordConfirm() {
      let passwordConfirm = document.querySelector("#password-confirm").value;
      validate(passwordConfirm, /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,60}$/, passwordConfirmError);
    }

    function validate(input, regex, output) {
      if (input.match(regex) && input.length !== 0) {
        output.innerHTML = "<i class='fa-solid fa-circle-check'></i>";
        return true;
      } else if (input.length === 0) {
        output.innerHTML = "";
        return false;
      } else {
        output.innerHTML = "<i class='fa-solid fa-circle-xmark'></i>";
      }
    }
  </script>


<%- include("partials/footer.ejs") %>