<%- include("partials/header.ejs") %>

<section id="profileCoverSection"></section>

<section id="profileSection">
  <div class="container">
    <div class="subcontainer">
      <div class="profile-wrapper">


        <div class="profile-col-1-wrapper">
          
          <!-- PROFILE PHOTO, FULL NAME, PROFESSION, CITY, STATE -->

          <div class="profile-col-1-box-1">
            <div class="profile-photo">
              <i class="fas fa-user" id="fa-user"></i>
            </div>
            
            <div class="profile-identity flex-10">
              <h1>
                <%= user.first_name%>
                  <%= user.last_name%>
              </h1>
              <h2>
                <%= user.profession%>
              </h2>
              <% if(user.city && user.state) { %>
                <h3>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= user.city %>, <%= user.state%>
                </h3>
              <% } else if (user.city || user.state) { %>
                <h3>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= user.city %>
                  <%= user.state%>
                </h3>
              <% } %>
            </div>
          </div>

        <!-- WEBSITE -->

          <% if(user.website) { %>
            <div class="profile-col-1-box-2">
              <h3>WEBSITE</h3>
              <% if(user.website) { %>
                <div class="profile-website-link">
                  <a href="<%= user.website %>" target="_blank">
                    <div class="flex">
                      <i class="fas fa-desktop"></i>
                    </div>
                  </a>
                </div>
              <% } %>
            </div>
          <% } %>

        <!-- SOCIAL MEDIA  -->

          <% if(user.twitter || user.instagram || user.facebook || user.linkedin) { %>
            <div class="profile-col-1-box-3">
              <h3>SOCIAL MEDIA</h3>

              <% if(user.twitter) { %>
                <div class="profile-social-link">
                  <a href="<%= user.twitter %>" target="_blank">
                    <div class="flex">
                      <i class="fab fa-twitter"></i>
                    </div>
                  </a>
                </div>
              <% } %>

              <% if(user.instagram) { %>
                <div class="profile-social-link">
                  <a href="<%= user.instagram %>" target="_blank">
                    <div class="flex">
                      <i class="fab fa-instagram"></i>
                    </div>
                  </a>
                </div>
              <% } %>

              <% if(user.facebook) { %>
                <div class="profile-social-link">
                  <a href="<%= user.facebook %>" target="_blank">
                    <div class="flex">
                      <i class="fab fa-facebook"></i>
                    </div>
                  </a>
                </div>
              <% } %>

              <% if(user.linkedin) { %>
                <div class="profile-social-link">
                  <a href="<%= user.linkedin %>" target="_blank">
                    <div class="flex">
                      <i class="fab fa-linkedin"></i>
                    </div>
                  </a>
                </div>
              <% } %>
            </div>
          <% } %>

          <!-- TAGS -->

          <% if(user.tags) { %>
            <div class="profile-col-1-box-4">
              <h3>TAGS</h3>
              <div class="tags"></div>
            </div>
          <% } %>
      
        </div>

        <div class="profile-col-2-wrapper">

          <div class="profile-edit">
            <a href="/settings"><button id="profile-edit"><i class="far fa-edit"></i> Edit Profile</button></a>
          </div>

          <div class="profile-col-2-box-1">            
            <div class="profile-services flex-20">
              <h3>SERVICES</h3>
              <p>
                <%= user.specialty %>
              </p>
            </div>
          </div>

          <div class="profile-col-2-box-2">
            <div class="profile-skills flex-20">
              <h3>SKILLS</h3>
              <p>
                <%= user.skills %>
              </p>
            </div>
          </div>

          <div class="profile-col-2-box-3">
            <div class="profile-showcase-photos flex-20">
              <div>
                <h3>SHOWCASE</h3>
              </div>
              <% if (showcasePhotos !==null) { %>
                <div class="showcase-container">
                  <% for(let i=0; i < length; i++) { %>
                    <div class="image"><span><img src="http://localhost:5000/showcase-photo/<%= showcasePhotos[i] %>"></span></div>
                    <% } %>
                </div>
                <div class="preview-box">
                  <div class="details">
                    <span class="title">
                      <p class="current-img"></p>/<p class="total-img"></p>
                    </span>
                    <span class="icon fas fa-times"></span>
                  </div>
                  <div class="image-box">
                    <div class="slide prev"><i class="fas fa-angle-left"></i></div>
                    <div class="slide next"><i class="fas fa-angle-right"></i></div>
                    <img src="" alt="">
                  </div>
                </div>
                <div class="shadow"></div>
              <% } %>
            </div>
          </div>

          <div class="profile-col-2-box-4">
            <div class="profile-following">
              <div>
                <h3>FOLLOWING</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>
<script src="/js/lightbox.js"></script>
<script>

  const myTags = JSON.parse('<%-JSON.stringify(tags)%>'),
  myTagsLength = (myTags === null) ? null : Object.keys(myTags).length,
  tagsContainer = document.querySelector(".tags"),
  cover = "<%= user.cover_photo %>",
  profile = "<%= user.profile_photo %>";

  for(let i = 0;i < myTagsLength;i++){
    const tag = document.createElement("div");
    tag.innerHTML = `<div class="tag"> #${myTags[i]} </div>`;
    tagsContainer.appendChild(tag);
  }

  if(cover)
    document.querySelector("#profileCoverSection").style.backgroundImage = `url(http://localhost:5000/cover-photo/${cover})`;

  if(profile){
    document.querySelector("#fa-user").style.opacity = 0;
    document.querySelector(".profile-photo").style.backgroundImage = `url(http://localhost:5000/profile-photo/${profile})`;
  }
</script>

<%- include("partials/footer.ejs") %>