<%- include("partials/header.ejs") %>
<%- include("partials/location-modal.ejs") %>

  <!-- COVER SECTION -->

  <% if(user.cover_photo) { %>
    <section id="profileCoverSection"
      style="background-image: url('http://localhost:5000/cover-photo/<%= user.id %>/<%= user.cover_photo%>');">
    </section>
  <% } else { %>
    <section id="profileCoverSection"></section>
  <% } %>

  <section id="profileSection">
    <div class="container">
      <div class="subcontainer">
        <div class="profile-wrapper">


          <div class="profile-col-1-wrapper">
            
            <!-- PROFILE PHOTO, FULL NAME, PROFESSION, CITY, STATE -->

            <div class="profile-col-1-box-1">

              <% if(user.profile_photo) { %>
                <div class="profile-photo" style="background-image: url('http://localhost:5000/profile-photo/<%= user.id %>/<%= user.profile_photo%>');"></div>
              <% } else { %>
                <div class="profile-photo">
                  <i class="fas fa-user" id="fa-user"></i>
                </div>
              <% } %>
              
              <div class="profile-identity flex-column-gap-10">
                <h1>
                  <%= user.first_name%>
                  <%= user.last_name%>
                </h1>
                <h2>
                  <%= user.profession%>
                </h2>
                <% if(user.city && user.state) { %>
                  <h3>
                    <i class="fas fa-map-marker-alt"></i>
                    <%= user.city %>, <%= user.state%> <%= user.zip %>
                  </h3>
                <% } else if (user.city || user.state) { %>
                  <h3>
                    <i class="fas fa-map-marker-alt"></i>
                    <%= user.city %>
                    <%= user.state%>
                    <%= user.zip %>
                  </h3>
                <% } %>
              </div>
            </div>

          <!-- CONTACT  -->

          <div class="profile-col-1-box-2">
            <h3>CONTACT</h3>
            <% if(user.phone) { %>
              <div class="profile-phone flex-row-gap-20">
                <i class="fa-solid fa-phone" style="font-size: 1.4rem"></i>
                <p>
                  <%= user.phone %>
                </p>
              </div>
            <% } %>
            <div class="profile-email flex-row-gap-20">
              <i class="fa-solid fa-envelope" style="font-size: 1.4rem"></i>
              <p>
                <%= user.email %>
              </p>
            </div>
          </div>
          

          <!-- WEBSITE -->


          <div class="profile-col-1-box-3">
            <h3>WEBSITE</h3>
            <% if(user.website) { %>
              <div class="profile-website-link website">
                <a href="<%= user.website %>" target="_blank">
                  <div class="flex-row-gap-20">
                    <i class="fas fa-desktop"></i>
                    <p>
                      <%= website %>
                    </p>
                  </div>
                </a>
              </div>
            <% } %>
          </div>

          <!-- SOCIAL MEDIA  -->


          <div class="profile-col-1-box-4">
            <h3>SOCIAL MEDIA</h3>

            <% if(user.twitter) { %>
              <div class="profile-social-link twitter">
                <a href="<%= user.twitter %>" target="_blank">
                  <div class="flex-row-gap-20">
                    <i class="fab fa-twitter"></i>
                      <p>
                        <%= twitter %>
                      </p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.instagram) { %>
              <div class="profile-social-link instagram">
                <a href="<%= user.instagram %>" target="_blank">
                  <div class="flex-row-gap-20">
                    <i class="fab fa-instagram"></i>
                      <p>
                        <%= instagram %>
                      </p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.facebook) { %>
              <div class="profile-social-link facebook">
                <a href="<%= user.facebook %>" target="_blank">
                  <div class="flex-row-gap-20">
                    <i class="fab fa-facebook"></i>
                    <p>
                      <%= facebook %>
                    </p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.linkedin) { %>
              <div class="profile-social-link linkedin">
                <a href="<%= user.linkedin %>" target="_blank">
                  <div class="flex-row-gap-20">
                    <i class="fab fa-linkedin"></i>
                    <p>
                      <%= linkedin %>
                    </p>
                  </div>
                </a>
              </div>
            <% } %>
          </div>
         

            <!-- TAGS -->


          <div class="profile-col-1-box-5">
            <h3>TAGS</h3>
            <% if(user.tags) { %>
              <div class="tags">
                <% for(let tag in tags) { %>
                  <div class="tag">
                    <%= tags[tag] %>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
        
        </div>

          <div class="profile-col-2-wrapper">

            <div class="profile-col-2-box-1">
              <div class="profile-services flex-column-gap-20">
                <h3>EXPERIENCE</h3>
              </div>
            </div>

            <div class="profile-col-2-box-2">  
              <% if(user.specialty) { %>
                <div class="profile-services flex-column-gap-20">
                  <h3>SERVICES</h3>
                  <p>
                    <%= user.specialty %>
                  </p>
                </div>
              <% } else { %>
                <div class="profile-services">
                  <h3>SERVICES</h3>
                </div>
              <% } %>
            </div>

            <div class="profile-col-2-box-3">
              <% if(user.skills) { %>
                <div class="profile-skills flex-column-gap-20">
                  <h3>SKILLS</h3>
                  <p>
                    <%= user.skills %>
                  </p>
                </div>
              <% } else { %>
                <div class="profile-skills">
                  <h3>SKILLS</h3>
                </div>
              <% } %>
            </div>

            <div class="profile-col-2-box-4">
              <div class="profile-contacts flex-column-gap-25">
                <% if(following !==null) { %>
                  <div class="profile-contacts-photos">
                    <div>
                      <h3>CONTACTS</h3>
                    </div>
                    <div id="controls-1">
                      <button class="prev-1"><i class="fas fa-angle-left"></i></button>
                      <button class="next-1"><i class="fas fa-angle-right"></i></button>
                    </div>
                  </div>
                  <div class="slider-1">
                    <% for(let i=0;i < following.length;i++) { %>
                      <div>
                        <div class="contact-photo"
                          style="background-image: url('http://localhost:5000/user-photo/<%= following[i].id %>/<%= following[i].profile_photo%>');">
                        </div>
                      </div>
                    <% } %>
                  </div>
                <% } else { %>
                  <div class="profile-contacts">
                    <h3>CONTACTS</h3>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="profile-col-2-box-5">
              <div class="profile-showcase flex-column-gap-25">
                <% if(showcasePhotos !==null) { %>
                  <div class="profile-showcase-photos">
                    <div>
                      <h3>SHOWCASE</h3>
                    </div>
                    <div id="controls-2">
                      <button class="prev-2"><i class="fas fa-angle-left"></i></button>
                      <button class="next-2"><i class="fas fa-angle-right"></i></button>
                    </div>
                  </div>
                  <div class="slider-2 showcase-container">
                    <% for(let photo in showcasePhotos) { %>
                      <div class="image"><span><img src="http://localhost:5000/showcase-photo/<%= user.id %>/<%= showcasePhotos[photo] %>"></span>
                      </div>
                    <% } %>
                  </div>
                  <div class="preview-box">
                    <div class="subcontainer">
                      <div class="details">
                        <span class="title">
                          <p class="current-img"></p>/<p class="total-img"></p>
                        </span>
                        <span class="icon fas fa-times"></span>
                      </div>
                      <div class="image-box">
                        <div class="slide" id="prev"><i class="fas fa-angle-left"></i></div>
                        <img src="" alt="image">
                        <div class="slide" id="next"><i class="fas fa-angle-right"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="shadow"></div>
                <% } else { %>
                  <div class="profile-showcase-photos">
                    <h3>SHOWCASE</h3>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="profile-edit">
              <a href="/settings"><button id="profile-edit"><i class="far fa-edit"></i> Edit Profile</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
  <script src="/js/lightbox.js"></script>
  <script src="/js/tiny-slider-manual.js"></script>
  <% if (typeof user !="undefined" && user) { %>
    <script src="/js/google-map.js"></script>
  <% } %>

<%- include("partials/footer.ejs") %>