<%- include("partials/header.ejs") %>

<section id="profile-cover-photo"></section>

<section style="background-color: #e9e9e9;">
  <div class="container" style="padding-bottom: 20px;">
    <div class="subcontainer">
      <div class="profile-wrapper">


        <div class="profile-col-1-wrapper">
          
          <!-- PROFILE PHOTO, FULL NAME, PROFESSION, CITY, STATE -->

          <div class="profile-col-1">
            <div class="profile-photo">
              <i class="fas fa-user" id="fa-user"></i>
            </div>
            
            <div class="profile-identity flex-10">
              <h1>
                <%= user.first_name%>
                  <%= user.last_name%>
              </h1>
              <h2>
                <%= user.profession%>
              </h2>
              <% if(user.city && user.state) { %>
                <h3>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= user.city %>, <%= user.state%>
                </h3>
              <% } else if (user.city || user.state) { %>
                <h3>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= user.city %>
                  <%= user.state%>
                </h3>
              <% } %>
              </div>
          </div>

          <!-- PROFILE SOCIAL MEDIA  -->

        <% if(user.website || user.twitter || user.instagram || user.facebook || user.linkedin) { %>
          <div class="profile-col-2">

            <% if(user.website) { %>
              <div class="profile-social-link">
                <a href="<%= user.website %>" target="_blank">
                  <div class="flex">
                    <i class="fas fa-desktop"></i>
                    <p>Website</p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.twitter) { %>
              <div class="profile-social-link">
                <a href="<%= user.twitter %>" target="_blank">
                  <div class="flex">
                    <i class="fab fa-twitter"></i>
                    <p>Twitter</p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.instagram) { %>
              <div class="profile-social-link">
                <a href="<%= user.instagram %>" target="_blank">
                  <div class="flex">
                    <i class="fab fa-instagram"></i>
                    <p>Instagram</p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.facebook) { %>
              <div class="profile-social-link">
                <a href="<%= user.facebook %>" target="_blank">
                  <div class="flex">
                    <i class="fab fa-facebook"></i>
                    <p>Facebook</p>
                  </div>
                </a>
              </div>
            <% } %>

            <% if(user.linkedin) { %>
              <div class="profile-social-link">
                <a href="<%= user.linkedin %>" target="_blank">
                  <div class="flex">
                    <i class="fab fa-linkedin"></i>
                    <p>LinkedIn</p>
                  </div>
                </a>
              </div>
            <% } %>

          </div>

        <% } %>

        </div>

        <div class="profile-col-2-wrapper">

          <div class="profile-edit">
            <a href="/settings"><button id="profile-edit"><i class="far fa-edit"></i> Edit Profile</button></a>
          </div>

          <div class="profile-services flex-5">
            <h3>Services</h3>
            <p><%= user.specialty %></p>
          </div>

          <div class="profile-skills flex-5">
            <h3>Skills</h3>
            <p><%= user.skills %></p>
          </div>

          <div class="profile-showcase-photos flex-5">
            <div>
              <h3>Showcase</h3>
            </div>
            <% if (showcasePhotos !== null) { %>
              <div class="images-container">
                <% for(let i=0; i < length; i++) { %>
                  <img src="http://localhost:5000/showcase-photo/<%= showcasePhotos[i] %>" alt="">
                <% } %>
              </div>
            <% } %>
          </div>

          <div class="profile-following">
            <div>
              <h3>Following</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div id="overlay">
  <i class="fas fa-times-circle" id="close-modal-btn"></i>
  <div id="modal"></div>
</div>

<script src="/js/script.js"></script>

<script>
  const cover = "<%= user.cover_photo %>";
  const profile = "<%= user.profile_photo %>";

  if(cover)
    document.querySelector("#profile-cover-photo").style.backgroundImage = `url(http://localhost:5000/cover-photo/${cover})`;

  if(profile){
    document.querySelector("#fa-user").style.opacity = 0;
    document.querySelector(".profile-photo").style.backgroundImage = `url(http://localhost:5000/profile-photo/${profile})`;
  }
</script>

<%- include("partials/footer.ejs") %>