<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>

  <style>
    body {
      background-color: whitesmoke;
    }
  </style>

  <section id="register-section">
    <div class="container">
      <div class="subcontainer">
        <form action="/auth/register" id="register-form" method="POST">
          <div class="form-title">
            <h1>Register</h1>
            <i class="fa-solid fa-user-plus"></i>
          </div>
          <div class="input-group">
            <input type="text" id="first-name" name="first_name" maxlength="30" pattern="[A-Za-z]+" placeholder="First name" value="<%= typeof first_name != 'undefined' ? first_name : '' %>" onkeyup="validateFirstName()" required>
              <span id="first-name-error"></span>
          </div>
          <div class="input-group">
            <input type="text" id="last-name" name="last_name" maxlength="30" pattern="[A-Za-z]+" placeholder="Last name"
              value="<%= typeof last_name != 'undefined' ? last_name : '' %>" onkeyup="validateLastName()" required>
              <span id="last-name-error"></span>
          </div>
          <div class="input-group">
            <input type="email" id="email" name="email" maxlength="100" placeholder="Email"
              value="<%= typeof email != 'undefined' ? email : '' %>" onkeyup="validateEmail()" required>
              <span id="email-error"></span>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" maxlength="60" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" onkeyup="validatePassword()" required>
            <span id="password-error"></span>
          </div>
          <div class="input-group">
            <input type="password" id="password-confirm" name="password_confirm" maxlength="60" placeholder="Confirm password" onkeyup="validatePasswordConfirm()" required>
            <span id="password-confirm-error"></span>
          </div>

          <div id="show-password-container">
            <div>
              <input type="checkbox" id="show-password">
              <label for="show-password">Show password</label>
            </div>
          </div>
          <div class="input-group">
            <button id="account-btn">Create account</button>
          </div>
          <div id="login">
            <p>Already a member? <a href="/login">Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/register-show-password.js"></script>
  <script src="/js/input-validation.js"></script>

<%- include("partials/footer.ejs") %>