<%- include("partials/header.ejs") %>
<%- include("partials/backend-toast.ejs") %>

  <div id="login-grid">
    <div class="brand-grid">
      <div class="brand-header">
        <a href="/">
          <h1>Needa</h1>
        </a>
        <div class="mrb_dec"></div>
        <div class="mrb_dec2"></div>
      </div>
      <div class="brand-img">
        <div class="mrb_pin"></div>
        <div class="mrb_pin mrb_pin2"></div>
      </div>
    </div>
    <form action="/auth/register" id="register-form" method="POST">
      <div class="form-title">
        <h2>Register</h2>
      </div>
      <div class="input-group one">
        <input type="text" id="first-name" name="first_name" maxlength="30" pattern="[A-Za-z]+" placeholder="First name"
          value="<%= typeof first_name != 'undefined' ? first_name : '' %>" required>
        <input type="text" id="last-name" name="last_name" maxlength="30" pattern="[A-Za-z]+" placeholder="Last name"
          value="<%= typeof last_name != 'undefined' ? last_name : '' %>" required>
      </div>
      <div class="input-group two">
        <input type="text" placeholder="City" name="city" maxlength="60" pattern="[A-Za-z]+"
          value="<%= typeof city != 'undefined' ? city : '' %>" required>
        <select name="state" id="user-state" onchange="addCounties()" required>
          <option value="<%= typeof state != 'undefined' ? state : '' %>">
            <%= typeof state !='undefined' ? state : 'State' %>
          </option>
        </select>
        <input type="text" placeholder="Zip" name="zip" maxlength="5" pattern="[0-9]{5}"
          value="<%= typeof zip != 'undefined' ? zip : '' %>" required>
      </div>
      <div class="input-group three">
        <select name="county" id="county" required>
          <option value="<%= typeof county != 'undefined' ? county : '' %>">
            <%= typeof county !='undefined' ? county : 'County' %>
          </option>
        </select>
        <input type="email" id="email" name="email" maxlength="100" placeholder="Email"
          value="<%= typeof email != 'undefined' ? email : '' %>" required>
      </div>
      <div class="input-group four">
        <div class="password-container">
          <input type="password" id="password" name="password" maxlength="60" placeholder="Password" required>
          <i class="fa-solid fa-eye" id="show-password"></i>
        </div>
        <input type="password" id="password-confirm" name="password_confirm" maxlength="60" placeholder="Confirm password" required>
      </div>
      <div class="input-group">
        <button id="register-btn">Register</button>
      </div>
      <div id="login">
        <p>Already a member? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>

  <script src="/js/script.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/register-show-password.js"></script>
  <script src="/js/statesCounties.js"></script>

<%- include("partials/footer.ejs") %>