<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>

  <section id="registerSection">
    <div class="container">
      <div class="subcontainer">
        <form action="/auth/register" id="register-account-form" method="POST">
          <div id="title">
            <h1><a href="/">Register</a></h1>
          </div>
          <div>
            <input type="text" id="first-name" name="first_name" maxlength="30" pattern="[A-Za-z]+" placeholder="First name"
              value="<%= typeof first_name != 'undefined' ? first_name : '' %>" required>
          </div>
          <div>
            <input type="text" id="last-name" name="last_name" maxlength="30" pattern="[A-Za-z]+" placeholder="Last name"
              value="<%= typeof last_name != 'undefined' ? last_name : '' %>" required>
          </div>
          <div>
            <input type="email" id="email" name="email" maxlength="100" placeholder="Email"
              value="<%= typeof email != 'undefined' ? email : '' %>" required>
          </div>
          <div id="password-container">
            <input type="password" id="password" name="password" maxlength="60" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" required>
            <p id="password-strength-text"></p>
          </div>
          <div>
            <input type="password" id="password-confirm" name="password_confirm" maxlength="60" placeholder="Confirm password"
              required>
          </div>
          <div id="show-password-container">
            <div>
              <input type="checkbox" id="show-password">
              <label for="show-password">Show password</label>
            </div>
          </div>
          <div>
            <button id="account-btn">Create Account</button>
          </div>
          <div id="login">
            <p>Already a member? <a href="/login">Login</a></p>
          </div>
          
        </form>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
  <script src="/js/script.js"></script>

  <script>
    const toast = document.querySelector(".toast"),
    closeToast = document.querySelector("#closeToast");
    if (toast) {
      closeToast.addEventListener("click", () => {
        toast.style.transform = "translateX(400px)";
      })
    }
  </script>

<%- include("partials/footer.ejs") %>