<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>
<%- include("partials/location-modal.ejs") %>

<div id="searchResultsSection">
  <div class="container">
    <div class="subcontainer">
      <div class="search-results-wrapper">
        <div class="search-results-col-1">
          <div class="flex-column-gap-10">
            <h1>Filters</h1>
          </div>
        </div>
        <div class="search-results-col-2 flex-column-gap-25">

          <div class="flex-column-gap-10">
            <h1>Results</h1>
          </div>

          
          <div class="search-results-user-boxes flex-column-gap-20">
          <% for(let i=0;i < rows.length;i++) { %>

            
            <div class="search-results-user-box flex-row-gap-10">

              <div class="search-results-user-box-child flex-row-gap-20">
                <div class="image"
                  style="background-image: url('http://localhost:5000/user-photo/<%= rows[i].id %>/<%= rows[i].profile_photo%>');">
                </div>
                
                <div class="flex-column-gap-5">
                  <div class="flex-row-gap-5">
                    <h3>
                      <%= rows[i].first_name %>
                    </h3>
                    <h3>
                      <%= rows[i].last_name %>
                    </h3>
                    <h3>
                                  
                     -  <%= rows[i].profession %>
                               
                    </h3>
                  </div>
                  <div class="flex-row-gap-5">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>
                      <%= rows[i].city %>,
                    </p>
                    <p>
                      <%= rows[i].state %>
                    </p>
                    <p>
                      <%= rows[i].zip %>
                    </p>
                  </div>
                </div>
              </div>

              <div class="search-results-user-box-child">
               <a href="http://localhost:5000/search-results-user-profile/<%= rows[i].id %>">
                <button id="viewUser">View User</button>
               </a> 
              </div>

            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/script.js"></script>
<% if (typeof user !="undefined" && user) { %>
  <script src="/js/google-map.js"></script>
<% } %>

<%- include("partials/footer.ejs") %>