<%- include("partials/header.ejs") %>
<%- include("partials/backend-toast.ejs") %>
<%- include("partials/frontend-toast.ejs") %>

  <div id="search-results-section">
    <div class="subheader">
      <div class="subheader-box">
        <i class="fa-solid fa-sliders"></i>
      </div>
      <div class="subheader-box"></div>
    </div>
    <div class="search-results-grid">
      <div class="sidebar"></div>
      <div class="map-container">
        <% if(typeof user==="undefined" && city) { %>
          <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLVBTACqJtv8Od3WvXYZPV3kXZtDUwBrk&q=<%= city %>,<%= state %>&zoom=14"></iframe>
        <% } else if(typeof user ==="undefined" && zip) { %>
          <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLVBTACqJtv8Od3WvXYZPV3kXZtDUwBrk&q=<%= zip %>&zoom=14"></iframe>
        <% } else if(typeof user !== "undefined" && city) { %>
          <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLVBTACqJtv8Od3WvXYZPV3kXZtDUwBrk&q=<%= city %>,<%= state %>&zoom=14"></iframe>
        <% } else if(typeof user !== "undefined" && zip) { %>
          <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLVBTACqJtv8Od3WvXYZPV3kXZtDUwBrk&q=<%= zip %>&zoom=14"></iframe>
        <% } %>
      </div>
      <div class="search-results-wrapper">
        
        <% if(rows !==null) { %>
          <div class="search-results-header">

            <% if(typeof user==="undefined" && city) { %>
              <h3>Results for <span class="dynamic-profession">
                <%= profession %>
              </span> in
                <span class="dynamic-location">
                <%= city %>, <%= state %>
                </span> 
              </h3>
            <% } else if(typeof user==="undefined" && zip) { %>
              <h3>Results for <span class="dynamic-profession"><%= profession %></span> in <span class="dynamic-location">
                <%= zip %>
                </span> 
              </h3>
            <% } else if(typeof user !=="undefined" && city) { %>
              <h3>Results for <span class="dynamic-profession">
                <%= profession %>
              </span> in
                <span class="dynamic-location">
                  <%= city %>, <%= state %>
                </span>
              </h3>
            <% } else if(typeof user !=="undefined" && zip) { %>
              <h3>Results for <span class="dynamic-profession">
                <%= profession %>
              </span> in <span class="dynamic-location">
                  <%= zip %>
                </span>
              </h3>
            <% } %>
            <span>
              <%= rows.length %>
            </span>
          </div>

          <div class="search-results">
            <% for(let i=0;i < rows.length;i++) { %>
              <div class="my-form">
                <div class="results-box-img">

                  <% if (rows[i].profile_photo) { %>
                    <img src="http://localhost:5000/user-photo/<%= rows[i].id %>/<%= rows[i].profile_photo%>" width="100%">
                  <% } else { %>
                    <i class="fas fa-user link"></i>
                  <% } %>


                </div>
                <div class="results-box-info flex-column-gap-10">
                  <div>
                    <h3><%= rows[i].first_name %> <%= rows[i].last_name %></h3>
                    <p><%= rows[i].profession %></p>
                  </div>

                  <div class="results-about">
                    <% if(rows[i].about) { %>
                      <p>
                        <%= rows[i].about %>
                      </p>
                    <% } else { %>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, rerum?
                        </p>
                    <% } %>
                  </div>
  

                  <span class="border"></span>
                </div>
                <div class="results-box-user">
                  <a href="http://localhost:5000/search-results-user-profile/<%= rows[i].id %>">
                    <button id="viewUser">View User</button>
                  </a>
                  <div class="flex-row-gap-20">
                    <i class="fa-solid fa-phone-flip"></i>
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                </div>
              </div>
            <% } %>
          <% } else { %>
            <div class="search-results-header">
              <h3>Results for <span class="dynamic-profession">
                <%= profession %>
              </span> in <span id="dynamic-location"><%= city %></span>. Sorry, nothing here yet.</h3>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/script.js"></script>
  <script src="/js/toast-front-end.js"></script>
  <script src="/js/header-form-authentication.js"></script>

  <% if (typeof user !="undefined" && user) { %>
    <script>
      const userCity = "<%= user.city %>";
      const userState = "<%= user.state %>";
      document.querySelector("#header-location").value = `${userCity}, ${userState}`;
    </script>
  <% } %>



  <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLVBTACqJtv8Od3WvXYZPV3kXZtDUwBrk&q&callback=getCoordinates">
    </script>
  <script src="/js/google-map.js"></script> -->

