<%- include("partials/header.ejs") %>
<%- include("partials/toast.ejs") %>

  <style>
    body{ background-color: #e9e9e9;}
  </style>

  <!-- CONNECT FLASH MESSAGE -->

  <% if(success !="" ) { %>
    <style>
      .toast {
        transform: translateX(0);
        border-left: 8px solid #47d764;
      }
  
      .fa-check-circle {
        color: #47d764;
      }
    </style>
    <section>
      <div class="toast-wrapper">
        <div class="toast">
          <div class="icon-container">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="message-container flex-5">
            <p>Success</p>
            <p>
              <%= success %>
            </p>
          </div>
          <button id="closeToast">&times;</button>
        </div>
      </div>
    </section>
    <% } %>


  <section id="settingsSection">
    <div class="container">
      <div class="subcontainer">
    
      <div class="settings-wrapper">


        <div class="settings-col-1">
          <div class="settings-col-1-child-1">
            <h2>Settings</h2>
          </div>
          <div class="settings-col-1-child-2">
            <a href="/settings" style="color:#009999;">
              <div class="settings-col-1-link flex-row-gap-10">
                <i class="fas fa-user-circle"></i>
                <p>PROFILE</p>
              </div>
            </a>
            <a href="/settings/showcase">
              <div class="settings-col-1-link flex-row-gap-10">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <p>SHOWCASE PHOTOS</p>
              </div>
            </a>
            <a href="/settings/account">
              <div class="settings-col-1-link flex-row-gap-10">
                <i class="fas fa-cog"></i>
                <p>ACCOUNT</p>
              </div>
            </a>
          </div>
        </div>


        <div class="forms-container">

          <form action="/auth/settings" method="POST" class="settings-col-2" enctype="multipart/form-data">
          
            <div class="settings-col-2-wrapper">
              <div class="settings-col-2-child">
          
          
                <!-- BASIC INFO  -->
          
          
                <h3>Basic Info</h3>
          
                <!-- PROFILE PHOTO UPLOAD -->
          
                <div class="user-input">
          
                  <div class="flex-4">
                    <label>Profile Photo</label>
                    <i class="far fa-trash-alt" id="trashProfilePhoto"></i>
                    <input type="hidden" name="deleteProfilePhoto" id="delProPhoto">
                  </div>
          
                  <div class="profile-photo-container flex-2">
                    <i class="fas fa-cloud-upload" id="uploadCloudPro"></i>
                    <input type="file" id="profilePhoto" name="profile_photo" accept="image/jpeg, image/png, image/jpg">
                  </div>
          
                </div>
          
                <!-- COVER PHOTO UPLOAD -->
          
                <div class="user-input">
          
                  <div class="flex-4">
                    <label>Cover Photo</label>
                    <i class="far fa-trash-alt" id="trashCoverPhoto"></i>
                    <input type="hidden" name="deleteCoverPhoto" id="delCovPhoto">
                  </div>
          
                  <div class="cover-photo-container flex-2">
                    <i class="fas fa-cloud-upload" id="uploadCloudCov"></i>
                    <input type="file" id="coverPhoto" name="cover_photo" accept="image/jpeg, image/png, image/jpg">
                  </div>
          
                </div>
          
                <!--  -->
          
                <div class="user-input">
                  <label for="first_name">First name</label>
                  <input type="text" name="first_name" id="first_name" placeholder="Enter your first name"
                    value="<%= user.first_name %>" maxlength="30" pattern="[A-Za-z]+" required>
                </div>
                <div class="user-input">
                  <label for="last_name">Last name</label>
                  <input type="text" name="last_name" placeholder="Enter your last name" value="<%= user.last_name %>"
                  maxlength="30" pattern="[A-Za-z]+" required>
                </div>
                <div class="user-input">
                  <label for="city">City</label>
                  <input type="text" name="city" placeholder="Enter your city" value="<%= user.city %>" maxlength="60" pattern="[A-Za-z]+">
                </div>
                <div class="user-input">
                  <label for="state">State</label>
                  <select name="state" id="state">
                    <option value="<%= user.state %>">
                      <%= user.state %>
                    </option>
                  </select>
                </div>
                <div class="user-input">
                  <Label for="zip_code">ZIP Code</Label>
                  <input type="text" name="zip" maxlength="5" pattern="[0-9]{5}" placeholder="Enter your zip code" value="<%= user.zip %>">
                </div>

                

                <div class="user-input">
                  <% if(user.gender==="M" ) { %>
                    <label for="gender">Gender</label>
                    <div class="flex-row-aligncenter-gap-10" style="width: 60px;">
                      <input type="radio" name="gender" value="M" checked>
                      <label for="M">Male</label>
                    </div>
                    <div class="flex-row-aligncenter-gap-10" style="width: 78px;">
                      <input type="radio" name="gender" value="F">
                      <label for="F">Female</label>
                    </div>
                  <% } else if (user.gender==="F" ) { %>
                    <label for="gender">Gender</label>
                    <div class="flex-row-aligncenter-gap-10" style="width: 60px;">
                      <input type="radio" name="gender" value="M">
                      <label for="M">Male</label>
                    </div>
                    <div class="flex-row-aligncenter-gap-10" style="width: 78px;">
                      <input type="radio" name="gender" value="F" checked>
                      <label for="F">Female</label>
                    </div>
                  <% } else { %>
                    <label for="gender">Gender</label>
                    <div class="flex-row-aligncenter-gap-10" style="width: 60px;">
                      <input type="radio" name="gender" value="M">
                      <label for="M">Male</label>
                    </div>
                    <div class="flex-row-aligncenter-gap-10" style="width: 78px;">
                      <input type="radio" name="gender" value="F">
                      <label for="F">Female</label>
                    </div>
                  <% } %>
                </div>
          
          
                <!-- ABOUT YOU  -->
          
                <br>
                <h3>About You</h3>
                <div class="user-input">
                  <label for="profession">Profession</label>
                  <input type="text" name="profession" placeholder="E.g. Electrician" value="<%= user.profession %>"
                    maxlength="50" pattern="[^\s][a-zA-Z ]+">
                </div>
                <div class="user-input">
                  <label for="specialty">Services</label>
                  <textarea name="specialty" id="" placeholder="I specialize in..."
                    maxlength="255"><%= user.specialty %></textarea>
                </div>
                <div class="user-input">
                  <label for="about">About</label>
                  <textarea name="about" placeholder="I have 10 year experience..." maxlength="1000"><%= user.about %></textarea>
                </div>
                <div class="user-input">
                  <label for="skills">Skills</label>
                  <input type="text" name="skills" placeholder="Carpentry, Electrical, Plumbing..." value="<%= user.skills %>"
                    maxlength="1000">
                </div>
              </div>
          
          
              <!-- SOCIAL  -->
          
          
              <div class="settings-col-2-child">
                <h3>Social</h3>
                <div class="user-input">
                  <label for="website">Website</label>
                  <input type="url" name="website" placeholder="https://johndoe.com" value="<%= user.website %>" maxlength="255">
                </div>
                <div class="user-input">
                  <label for="twitter">Twitter</label>
                  <input type="url" name="twitter" placeholder="https://twitter.com/johndoe" value="<%= user.twitter %>"
                    maxlength="255">
                </div>
                <div class="user-input">
                  <label for="instagram">Instagram</label>
                  <input type="url" name="instagram" placeholder="https://instagram.com/johndoe" value="<%= user.instagram %>"
                    maxlength="255">
                </div>
                <div class="user-input">
                  <label for="facebook">Facebook</label>
                  <input type="url" name="facebook" placeholder="https://facebook.com/johndoe" value="<%= user.facebook %>"
                    maxlength="255">
                </div>
                <div class="user-input">
                  <label for="linkedin">LinkedIn</label>
                  <input type="url" name="linkedin" placeholder="https://www.linkedin.com/in/johndoe"
                    value="<%= user.linkedin %>" maxlength="255">
                </div>
          
          
                <!-- PROFILE IDENTITY  -->
          
                <br>
          
                <h3>Profile identity</h3>
                <div class="user-input">
                  <label for="phone">Phone</label>
                  <input type="tel" name="phone" placeholder="E.g. 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="<%= user.phone %>" maxlength="12">
                </div>
                <div>
                  <% if(user.display_phone==="yes" ) { %>
                    <input type="checkbox" value="yes" name="display_phone" checked>
                    <label for="display_phone">Display my phone number on profile page</label>
                  <% } else { %>
                      <input type="checkbox" value="yes" name="display_phone">
                      <label for="display_phone">Display my phone number on profile page</label>
                  <% } %>
                </div>
                <div class="user-input">
                  <label for="email">Email</label>
                  <input type="email" name="email" placeholder="<%= user.email %>" disabled>
                </div>
                <div>
                  <% if(user.display_email==="yes" ) { %>
                    <input type="checkbox" value="yes" name="display_email" checked>
                    <label for="display_email">Display my email on profile page</label>
                  <% } else { %>
                    <input type="checkbox" value="yes" name="display_email">
                    <label for="display_email">Display my email on profile page</label>
                  <% } %>
                </div>

                <br>
                
                <h3>Tags</h3>
                <div class="user-input" style="z-index: 0;">
                  <label for="tags">Enter up to 4 tags to help users find your profile</label>
                  <input name="tags" id="tags"></input>
                </div>                
          
                <div>
                  <button type="submit" id="update-profile-btn">Update</button>
                </div>
          
              </div>
            </div>
          
          </form>


        </div>
      </div>
    </div>
  </div>
  </div>
    </div>
  </section>

  <script src="/js/script.js"></script>

  <script>  


    const toast = document.querySelector(".toast"),
    closeToast = document.querySelector("#closeToast");
    if (toast) {
      closeToast.addEventListener("click", () => {
        toast.style.transform = "translateX(400px)";
      })
    }


  // TAGS ==========================================

  const myTags = JSON.parse('<%-JSON.stringify(tags)%>');
  const tags = document.querySelector("#tags");
  let myTagsArray = [];

  for (let tag in myTags)
    myTagsArray.push(myTags[tag]);

  const tagify = new Tagify(tags, {
    maxTags: 4,
    texts: {
      duplicate: "Duplicates are not allowed"
    }
  });

  tagify.addTags(myTagsArray);

  // PROFILE PHOTO ==================================

  const profilePhoto = document.querySelector("#profilePhoto"),
  profilePhotoContainer = document.querySelector(".profile-photo-container"),
  profile = "<%= user.profile_photo %>",
  id = "<%= user.id %>";
  uploadCloudPro = document.querySelector("#uploadCloudPro");

  // IF USER HAS A PHOTO IN AWS DO THIS ON PAGE LOAD

  if(profile) {
    uploadCloudPro.style.opacity = "0";
    profilePhoto.style.visibility = "hidden";
    profilePhotoContainer.style.backgroundImage = `url(http://localhost:5000/profile-photo/${id}/${profile})`;
  }

  // IF THE USER DELETES THEIR PROFILE PHOTO DO THIS

  document.querySelector("#trashProfilePhoto").addEventListener("click", () => {
    profilePhoto.value = "";
    profilePhoto.style.visibility = "visible";
    profilePhotoContainer.style.backgroundImage = "none";
    uploadCloudPro.style.opacity = "1";
    document.querySelector("#delProPhoto").value = "delete";
  })

  // IF THE USER UPLOADS A NEW PHOTO DO THIS

  profilePhoto.addEventListener('change', function () {
    uploadCloudPro.style.opacity = "0";
    profilePhoto.style.visibility = "hidden";
    const reader = new FileReader();
    reader.addEventListener('load', () => {
      profilePhotoContainer.style.backgroundImage = `url(${reader.result})`;
    });
    reader.readAsDataURL(this.files[0]);
  });

  // COVER PHOTO ==================================

  const coverPhoto = document.querySelector("#coverPhoto"),
  coverPhotoContainer = document.querySelector(".cover-photo-container"),
  cover = "<%= user.cover_photo %>",
  uploadCloudCov = document.querySelector("#uploadCloudCov");

  // IF USER HAS A PHOTO IN AWS DO THIS ON PAGE LOAD

  if (cover) {
    uploadCloudCov.style.opacity = "0";
    coverPhoto.style.visibility = "hidden";
    coverPhotoContainer.style.backgroundImage = `url(http://localhost:5000/cover-photo/${id}/${cover})`;
  }

  // IF THE USER DELETES THEIR COVER PHOTO DO THIS

  document.querySelector("#trashCoverPhoto").addEventListener("click", () => {
    coverPhoto.value = "";
    coverPhoto.style.visibility = "visible";
    coverPhotoContainer.style.backgroundImage = "none";
    uploadCloudCov.style.opacity = "1";
    document.querySelector("#delCovPhoto").value = "delete";
  })

  // IF THE USER UPLOADS A NEW PHOTO DO THIS

  coverPhoto.addEventListener('change', function () {
    uploadCloudCov.style.opacity = "0";
    coverPhoto.style.visibility = "hidden";
    const reader = new FileReader();
    reader.addEventListener('load', () => {
      coverPhotoContainer.style.backgroundImage = `url(${reader.result})`;
    });
    reader.readAsDataURL(this.files[0]);
  });

  async function loadStates() {
    let url = "https://cst336.herokuapp.com/projects/api/state_abbrAPI.php";
    let response = await fetch(url);
    let data = await response.json();
    data.forEach(function (i) {
      var state = document.createElement("option");
      state.textContent = i.state;
      state.value = i.usps;
      document.querySelector("#state").appendChild(state);
    });
  };

  window.addEventListener("load", loadStates);

</script>

<%- include("partials/footer.ejs") %>