<%- include("partials/header.ejs") %>
<%- include("partials/location-modal.ejs") %>

  <section>
    <div class="toast-wrapper">
      <div class="toast">
        <div class="icon-container"></div>
        <div class="message-container flex-5"></div>
        <button id="closeToast">&times;</button>
      </div>
    </div>
  </section>

  <section id="showcaseSection">
    <div class="container">
      <div class="subcontainer">
        <div class="showcase-wrapper">

          <div class="showcase-col-1">
            <div class="showcase-col-1-child-1">
              <h2>Settings</h2>
            </div>
            <div class="showcase-col-1-child-2">
              <a href="/settings">
                <div class="showcase-col-1-link flex-row-gap-15">
                  <i class="fas fa-user-circle"></i>
                  <p>EDIT PROFILE</p>
                </div>
              </a>
              <a href="/settings/showcase" style="color:#7449F5;">
                <div class="showcase-col-1-link flex-row-gap-10" style="background-color: #f1f1f1;">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <p>UPLOAD PHOTOS</p>
                </div>
              </a>
              <a href="/settings/showcase">
                <div class="showcase-col-1-link flex-row-gap-15">
                  <i class="fa-solid fa-key"></i>
                  <p>CHANGE PASSWORD</p>
                </div>
              </a>
              <a href="/settings/account">
                <div class="showcase-col-1-link flex-row-gap-10">
                  <i class="fa-solid fa-user-minus"></i>
                  <p>DELETE ACCOUNT</p>
                </div>
              </a>
            </div>
          </div>

          <!-- SHOWCASE PHOTOS  -->
          
          <form id="showcaseForm" class="showcase-col-2">
            <div class="showcase-photos-header">
              <h2>Upload photos</h2>
              <button type="submit" id="update-profile-btn">Upload</button>
            </div>
            <div class="flex-column-gap-10" style="width:100%;">
              <div class="showcase-photos flex-2">
                <span class="inner">Drag & drop photos here or <span class="select">Browse</span></span>
                <p>( Upload 8 photos max )</p>
                <input name="file" type="file" class="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" />
              </div>
              <div class="images-container">
                <% if (showcasePhotos !==null) { %>
                  <% for(let i=0; i < length; i++) { %>
                    <div class="image">
                      <img data-src="http://localhost:5000/showcase-photo/<%= user.id %>/<%= showcasePhotos[i] %>" alt="image" class="lazy">
                      <span onclick="delImage('<%= i %>')">&times;</span>
                    </div>
                  <% } %>
                <% } %>
              </div>
            </div>
          </form>
          
          <!-- SUCCESS/ERROR MESSAGES -->
          
          <div class="message-container"></div>
          
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="/js/script.js"></script>

  <% if (showcasePhotos !==null) { %>
    <script src="/js/lazy-img.js"></script>
  <% } %>
  
  <% if (typeof user !="undefined" && user) { %>
    <script src="/js/google-map.js"></script>
  <% } %>

<%- include("partials/footer.ejs") %>