<%- include("partials/header.ejs") %>
<%- include("partials/frontend-toast.ejs") %>

<div class="app">

  <aside class="sidebar">
    <h2>MAIN</h2>
    <nav class="menu">
      <a href="/dashboard" class="menu-item">Dashboard</a>
      <a href="/settings" class="menu-item">Edit profile</a>
      <a href="/settings/showcase" class="menu-item is-active">Upload images</a>
      <a href="/settings/account" class="menu-item">Delete account</a>
      <a href="/feed" class="menu-item">Live feed</a>
      <a href="/my-posts" class="menu-item">My Posts</a>
      <a href="/add-new" class="menu-item">Add New</a>
    </nav>
  </aside>

  <main class="content">

    <div class="hamburger-container">
      <div class="menu-toggle">
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>


     <div id="showcaseSection">
        <div class="showcase-wrapper">
          
          <form id="showcaseForm" class="showcase-col-2">
            <div class="showcase-photos-header">
              <h2>Upload images</h2>
              <button type="submit" id="update-profile-btn">Upload</button>
            </div>
            <div class="flex-column-gap-10" style="width:100%;">
              <div class="showcase-photos flex-2">
                <span class="inner">Drag & drop photos here or <span class="select">Browse</span></span>
                <p>( Upload up to 9 photos of 1MB max size each.)</p>
                <input name="file" type="file" class="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" />
              </div>
              <div class="images-container"></div>
            </div>
          </form>
          
          <!-- SUCCESS/ERROR MESSAGES FRONT END -->
          
          <div class="message-container-front-end"></div>
        </div>
      </div>
    </main>
  </div>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <!-- <script src="/js/loader.js"></script> -->
  
  <script src="/js/script.js"></script>
  <script src="/js/toast-front-end.js"></script>
  <script src="/js/header-form-authentication.js"></script>

  <script>

    let files = [], // STORE THE PHOTOS
    showcaseForm = document.querySelector("#showcaseForm"), // form id
    form = document.querySelector('.showcase-photos'), // form ( drag area )
    text = document.querySelector('.inner'), // inner text of form
    browse = document.querySelector('.select'), // "Browse" to run input field
    input = document.querySelector('.showcase-photos input'), // file input
    container = document.querySelector('.images-container'), // container in which images will be 
    userId = "<%= user.id %>",
    showcasePhotos = JSON.parse('<%-JSON.stringify(showcasePhotos)%>'),
    length = (showcasePhotos === null) ? null : Object.keys(showcasePhotos).length;

    browse.addEventListener('click', () => input.click());

    // INPUT CHANGE EVENT 

    input.addEventListener('change', () => {
      let file = input.files;

      for (let i = 0; i < file.length; i++) {
        if (files.every(e => e.name !== file[i].name)) 
          files.push(file[i])
      }
      showcaseForm.reset();
      showImages();
    })

    // DISPLAY PHOTOS

    const showImages = () => {
      let images = '';
      files.forEach((e, i) => {
        images += `<div class="image">
                    <img src="${URL.createObjectURL(e)}" alt="image">
                    <span onclick="delImage(${i})">&times;</span>
                  </div>`;
      })
      container.innerHTML = images;
    }

    // DELETE A PHOTO

    const delImage = index => {
      files.splice(index, 1);
      showImages();
    }

    // DISPLAY SHOWCASE IMAGES FROM DB ON PAGE LOAD

    if (length) {
      const forLoop = async _ => {
        for (let i = 0; i < length; i++) {
          let image_url = `https://code-foxx.com/showcase-photo/${userId}/${showcasePhotos[i]}`;
          let response = await fetch(image_url);
          let blob = await response.blob();
          let file = new File([blob], showcasePhotos[i], { type: blob.type });
          files.push(file);
        }

      const span = document.querySelectorAll(".span--hidden");
        span.forEach(s => {
          s.classList.remove("span--hidden");
        })

      }
      forLoop();

      let images = '';
      for(let i = 0;i < length;i++) {
        images += `<div class="image">
                    <img src="https://code-foxx.com/showcase-photo/${userId}/${showcasePhotos[i]}" alt="image">
                    <span onclick="delImage(${i})" class="span--hidden">&times;</span>
                  </div>`;
      }
      container.innerHTML = images;
    }

    // DRAG AND DROP

    form.addEventListener('dragover', e => {
      e.preventDefault()

      form.classList.add('dragover')
      text.innerHTML = 'Drop images here'
    })

    form.addEventListener('dragleave', e => {
      e.preventDefault()

      form.classList.remove('dragover')
      text.innerHTML = 'Drag & drop image here or <span class="select">Browse</span>'
    })

    form.addEventListener('drop', e => {
      e.preventDefault()

      form.classList.remove('dragover')
      text.innerHTML = 'Drag & drop image here or <span class="select">Browse</span>'

      let file = e.dataTransfer.files;

      for (let i = 0; i < file.length; i++) {
        if (!file[i].type.match("image")) continue; // ONLY PHOTOS (SKIP CURRENT ITERATION IF NOT A PHOTO)
        if (files.every(e => e.name !== file[i].name)) files.push(file[i]) // NO REPEATED PHOTOS
      }
      files = files.slice(0, 9); // UPLOAD 9 PHOTOS MAX
      showImages();

    })

  // SUBMIT REQUEST WITH FETCH

    showcaseForm.addEventListener("submit", (e) => {
      e.preventDefault();


      const loader = document.querySelector(".loader-wrapper");
      loader.classList.add("loader--visible");
      

      const formData = new FormData(showcaseForm);

      files.forEach((e, i) => { 
        formData.append(`file[${i}]`, e)
      })

      fetch("/auth/upload-showcase-photos", {
        method: "POST",
        body: formData
      })

      .then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        } else {
          return response.json();
        }
      })

      .then(data => {
        if (data.type === "success") {
          loader.classList.remove("loader--visible");
          displayToast('success', data.message);
        } else {
          loader.classList.remove("loader--visible");
          displayToast('error', data.message);
        }
      })

      .catch(error => {
        loader.classList.remove("loader--visible");
        displayToast('error', error);
      });

    });

  </script>

  <% if (typeof user !="undefined" && user) { %>
    <script>
      const userCity = "<%= user.city %>";
      const userState = "<%= user.state %>";
      document.querySelector("#header-location").value = `${userCity}, ${userState}`;
    </script>
  <% } %>

</body>

</html>