<%- include("partials/header.ejs") %>
  <!-- COVER SECTION -->
  
  <% if(rows[0].cover_photo) { %>
    <section id="profileCoverSection"
      style="background-image: url('http://localhost:5000/cover-photo/<%= rows[0].id %>/<%= rows[0].cover_photo%>');">
    </section>
    <% } else { %>
      <section id="profileCoverSection"></section>
      <% } %>
  
        <section id="profileSection">
          <div class="container">
            <div class="subcontainer">
              <div class="profile-wrapper">
  
  
                <div class="profile-col-1-wrapper">
  
                  <!-- PROFILE PHOTO, FULL NAME, PROFESSION, CITY, STATE -->
  
                  <div class="profile-col-1-box-1">
  
                    <% if(rows[0].profile_photo) { %>
                      <div class="profile-photo"
                        style="background-image: url('http://localhost:5000/profile-photo/<%= rows[0].id %>/<%= rows[0].profile_photo%>');">
                      </div>
                    <% } else { %>
                      <div class="profile-photo">
                        <i class="fas fa-user" id="fa-user"></i>
                      </div>
                    <% } %>
  
                    <div class="profile-identity flex-column-gap-10">
                      <h1>
                        <%= rows[0].first_name%>
                          <%= rows[0].last_name%>
                      </h1>
                      <h2>
                        <%= rows[0].profession%>
                      </h2>
                      <% if(rows[0].city && rows[0].state) { %>
                        <h3>
                          <i class="fas fa-map-marker-alt"></i>
                          <%= rows[0].city %>, <%= rows[0].state%>
                        </h3>
                      <% } else if (rows[0].city || rows[0].state) { %>
                        <h3>
                          <i class="fas fa-map-marker-alt"></i>
                          <%= rows[0].city %>
                          <%= rows[0].state%>
                        </h3>
                      <% } %>
                    </div>
                  </div>
  
                  <!-- WEBSITE -->
  
                  <% if(rows[0].website) { %>
                    <div class="profile-col-1-box-2">
                      <h3>WEBSITE</h3>
                      <% if(rows[0].website) { %>
                        <div class="profile-website-link">
                          <a href="<%= rows[0].website %>" target="_blank">
                            <div class="flex">
                              <i class="fas fa-desktop"></i>
                              <p>
                                <%= website %>
                              </p>
                            </div>
                          </a>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
  
                      <!-- SOCIAL MEDIA  -->

                    <% if(rows[0].twitter || rows[0].instagram || rows[0].facebook || rows[0].linkedin) { %>
                      <div class="profile-col-1-box-3">
                        <h3>SOCIAL MEDIA</h3>

                        <% if(rows[0].twitter) { %>
                          <div class="profile-social-link">
                            <a href="<%= rows[0].twitter %>" target="_blank">
                              <div class="flex">
                                <i class="fab fa-twitter"></i>
                                <p>
                                  <%= twitter %>
                                </p>
                              </div>
                            </a>
                          </div>
                        <% } %>

                        <% if(rows[0].instagram) { %>
                          <div class="profile-social-link">
                            <a href="<%= rows[0].instagram %>" target="_blank">
                              <div class="flex">
                                <i class="fab fa-instagram"></i>
                                <p>
                                  <%= instagram %>
                                </p>
                              </div>
                            </a>
                          </div>
                        <% } %>

                        <% if(rows[0].facebook) { %>
                          <div class="profile-social-link">
                            <a href="<%= rows[0].facebook %>" target="_blank">
                              <div class="flex">
                                <i class="fab fa-facebook"></i>
                                <p>
                                  <%= facebook %>
                                </p>
                              </div>
                            </a>
                          </div>
                        <% } %>

                        <% if(rows[0].linkedin) { %>
                          <div class="profile-social-link">
                            <a href="<%= rows[0].linkedin %>" target="_blank">
                              <div class="flex">
                                <i class="fab fa-linkedin"></i>
                                <p>
                                  <%= linkedin %>
                                </p>
                              </div>
                            </a>
                          </div>
                        <% } %>
                      </div>
                    <% } %>
  
                          <!-- TAGS -->
  
                  <% if(rows[0].tags) { %>
                    <div class="profile-col-1-box-4">
                      <h3>TAGS</h3>
                      <div class="tags">
                        <% for(let tag in tags) { %>
                          <div class="tag">
                            <%= tags[tag] %>
                          </div>
                          <% } %>
                      </div>
                    </div>
                  <% } %>
  
                </div>
  
                <div class="profile-col-2-wrapper">
  
                  <div class="profile-edit">
                    <button id="profile-edit"><i class="fa-solid fa-plus"></i> Add to Contacts</button>
                  </div>
  
                  <div class="profile-col-2-box-1">
                    <div class="profile-services flex-column-gap-20">
                      <h3>SERVICES</h3>
                      <p>
                        <%= rows[0].specialty %>
                      </p>
                    </div>
                  </div>
  
                  <div class="profile-col-2-box-2">
                    <div class="profile-skills flex-column-gap-20">
                      <h3>SKILLS</h3>
                      <p>
                        <%= rows[0].skills %>
                      </p>
                    </div>
                  </div>

                  <div class="profile-col-2-box-3">
                    <div class="profile-showcase-photos flex-column-gap-20">
                      <div>
                        <h3>SHOWCASE</h3>
                      </div>
                      <% if (showcasePhotos !==null) { %>
                        <div class="showcase-container">
                          <% for(let photo in showcasePhotos) { %>
                            <div class="image"><span><img src="http://localhost:5000/showcase-photo/<%= rows[0].id%>/<%= showcasePhotos[photo] %>"></span></div>
                          <% } %>
                        </div>
                        <div class="preview-box">
                          <div class="details">
                            <span class="title">
                              <p class="current-img"></p>/<p class="total-img"></p>
                            </span>
                            <span class="icon fas fa-times"></span>
                          </div>
                          <div class="image-box">
                            <img src="" alt="">
                          </div>
                          <div class="slide prev"><i class="fas fa-angle-left"></i></div>
                          <div class="slide next"><i class="fas fa-angle-right"></i></div>
                        </div>
                        <div class="shadow"></div>
                      <% } %>
                    </div>
                  </div>

  
                  <div class="profile-col-2-box-4">
                    <div class="profile-following ">
                      <div>
                        <h3>FOLLOWING</h3>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </section>
  
  <script src="/js/script.js"></script>
  <script src="/js/lightbox.js"></script>

<%- include("partials/footer.ejs") %>