<%- include("partials/header.ejs") %>

  <!-- COVER SECTION -->
  
  <% if(rows[0].cover_photo) { %>
    <section id="profileCoverSection"
      style="background-image: url('http://localhost:5000/cover-photo/<%= rows[0].id %>/<%= rows[0].cover_photo%>');">
    </section>
  <% } else { %>
    <section id="profileCoverSection"></section>
  <% } %>
  
  <section id="profileSection">
    <div class="container">
      <div class="subcontainer">
        <div class="profile-wrapper">


          <div class="profile-col-1-wrapper">

            <!-- PROFILE PHOTO, FULL NAME, PROFESSION, CITY, STATE -->

            <div class="profile-col-1-box-1">

              <% if(rows[0].profile_photo) { %>
                <div class="profile-photo"
                  style="background-image: url('http://localhost:5000/profile-photo/<%= rows[0].id %>/<%= rows[0].profile_photo%>');">
                </div>
              <% } else { %>
                <div class="profile-photo">
                  <i class="fas fa-user" id="fa-user"></i>
                </div>
              <% } %>

              <div class="profile-identity flex-column-gap-10">
                <h1>
                  <%= rows[0].first_name%>
                  <%= rows[0].last_name%>
                </h1>
                <h2>
                  <%= rows[0].profession%>
                </h2>
                <% if(rows[0].city && rows[0].state) { %>
                  <h3>
                    <i class="fas fa-map-marker-alt"></i>
                    <%= rows[0].city %>, <%= rows[0].state%> <%= rows[0].zip %>
                  </h3>
                <% } else if (rows[0].city || rows[0].state) { %>
                  <h3>
                    <i class="fas fa-map-marker-alt"></i>
                    <%= rows[0].city %>
                    <%= rows[0].state%>
                    <%= rows[0].zip %>
                  </h3>
                <% } %>
              </div>
            </div>

            <!-- CONTACT -->

            <% if(typeof user !== "undefined") { %>
              <div class="profile-col-1-box-5">
                <h3>CONTACT</h3>

                <% if(rows[0].display_phone === "yes") { %>
                  <div class="profile-phone flex-row-gap-20">
                    <i class="fa-solid fa-phone" style="font-size: 1.4rem"></i>
                    <p>
                      <%= user.phone %>
                    </p>
                  </div>
                <% } %>

                <% if(rows[0].display_email === "yes") { %>
                  <div class="profile-email flex-row-gap-20">
                    <i class="fa-solid fa-envelope" style="font-size: 1.4rem"></i>
                    <p>
                      <%= user.email %>
                    </p>
                  </div>
                <% } %>

              </div>
            <% } else { %>
              <div class="profile-col-1-box-5 not-loggedIn">
                <h3>CONTACT</h3>
                <i class="fa-solid fa-lock"></i>
              </div>
            <% } %>
      

            <!-- WEBSITE -->

            <% if(typeof user !=="undefined") { %>
              <div class="profile-col-1-box-2">
                <h3>WEBSITE</h3>
                <% if(rows[0].website) { %>
                  <div class="profile-website-link">
                    <a href="<%= user.website %>" target="_blank">
                      <div class="flex-row-gap-20">
                        <i class="fas fa-desktop"></i>
                        <p>
                          <%= website %>
                        </p>
                      </div>
                    </a>
                  </div>
                  <% } %>
              </div>
            <% } else { %>
              <div class="profile-col-1-box-2 not-loggedIn">
                <h3>WEBSITE</h3>
                <i class="fa-solid fa-lock"></i>
              </div>
            <% } %>


            <!-- SOCIAL MEDIA  -->

          <% if(typeof user !=="undefined" ) { %>
            <div class="profile-col-1-box-3">
              <h3>SOCIAL MEDIA</h3>
              <% if(twitter) { %>
                <div class="profile-social-link twitter">
                  <a href="<%= user.twitter %>" target="_blank">
                    <div class="flex-row-gap-20">
                      <i class="fab fa-twitter"></i>
                      <p>
                        <%= twitter %>
                      </p>
                    </div>
                  </a>
                </div>
              <% } %>
              
              <% if(instagram) { %>
                <div class="profile-social-link instagram">
                  <a href="<%= user.instagram %>" target="_blank">
                    <div class="flex-row-gap-20">
                      <i class="fab fa-instagram"></i>
                      <p>
                        <%= instagram %>
                      </p>
                    </div>
                  </a>
                </div>
              <% } %>
      
              <% if(facebook) { %>
                <div class="profile-social-link facebook">
                  <a href="<%= user.facebook %>" target="_blank">
                    <div class="flex-row-gap-20">
                      <i class="fab fa-facebook"></i>
                      <p>
                        <%= facebook %>
                      </p>
                    </div>
                  </a>
                </div>
              <% } %>
      
              <% if(linkedin) { %>
                <div class="profile-social-link linkedin">
                  <a href="<%= user.linkedin %>" target="_blank">
                    <div class="flex-row-gap-20">
                      <i class="fab fa-linkedin"></i>
                      <p>
                        <%= linkedin %>
                      </p>
                    </div>
                  </a>
                </div>
              <% } %>
                          
            </div>
          <% } else { %>
            <div class="profile-col-1-box-3 not-loggedIn">
              <h3>SOCIAL MEDIA</h3>
              <i class="fa-solid fa-lock"></i>
            </div>
          <% } %>


          <!-- TAGS -->

          <div class="profile-col-1-box-5">
            <h3>TAGS</h3>
            <% if(tags) { %>
              <div class="tags">
                <% for(let tag in tags) { %>
                  <div class="tag">
                    #<%= tags[tag] %>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>

        </div>

          <div class="profile-col-2-wrapper">

            <% if(typeof user !== "undefined" && user.id !== rows[0].id) { %>
              <div class="profile-edit">
                <button id="add-contact-btn"><i class="fa-solid fa-plus"></i> Add to Contacts</button>
              </div>
            <% } else if(typeof user === "undefined") { %>
              <div class="profile-edit">
                <button id="show-modal-btn"><i class="fa-solid fa-plus"></i> Add to Contacts</button>
              </div>
            <% } %>

            <div class="profile-col-2-box-1">
              <div class="profile-services flex-column-gap-20">
                <h3>EXPERIENCE</h3>
              </div>
            </div>

            <div class="profile-col-2-box-2">
              <% if(rows[0].specialty) { %>
                <div class="profile-services flex-column-gap-20">
                  <h3>SERVICES</h3>
                  <p>
                    <%= rows[0].specialty %>
                  </p>
                </div>
              <% } else { %>
                <div class="profile-services">
                  <h3>SERVICES</h3>
                  <p>
                    <%= rows[0].specialty %>
                  </p>
                </div>
              <% } %>
            </div>

            <div class="profile-col-2-box-3">
              <% if(rows[0].skills) { %>
                <div class="profile-skills flex-column-gap-20">
                  <h3>SKILLS</h3>
                  <p>
                    <%= rows[0].skills %>
                  </p>
                </div>
              <% } else { %>
                <div class="profile-skills">
                  <h3>SKILLS</h3>
                  <p>
                    <%= rows[0].skills %>
                  </p>
                </div>
              <% } %>
            </div>

            <div class="profile-col-2-box-4">
              <div class="profile-following ">
                <div>
                  <h3>CONTACTS</h3>
                </div>
              </div>
            </div>

            <div class="profile-col-2-box-5">
              <div class="profile-showcase-photos flex-column-gap-20">
                <div>
                  <h3>SHOWCASE</h3>
                </div>
                <% if (showcasePhotos !==null) { %>
                  <div class="showcase-container">
                    <% for(let photo in showcasePhotos) { %>
                      <div class="image"><span><img src="http://localhost:5000/showcase-photo/<%= rows[0].id%>/<%= showcasePhotos[photo] %>"></span></div>
                    <% } %>
                  </div>
                  <div class="preview-box">
                    <div class="details">
                      <span class="title">
                        <p class="current-img"></p>/<p class="total-img"></p>
                      </span>
                      <span class="icon fas fa-times"></span>
                    </div>
                    <div class="image-box">
                      <img src="" alt="">
                    </div>
                    <div class="slide prev"><i class="fas fa-angle-left"></i></div>
                    <div class="slide next"><i class="fas fa-angle-right"></i></div>
                  </div>
                  <div class="shadow"></div>
                <% } %>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="overlay">
    <div class="modal">

      <div class="modal-top">
        <div class="flex-row-gap-10">
          <i class="fa-solid fa-circle-exclamation"></i>
          <h1>Needa</h1>
        </div>
        <i class="fa-solid fa-xmark" id="close-modal-btn"></i>
      </div>
      <div class="modal-bottom">
        <div>
          <p>Please login to view this users full profile and to unlock all features. Don't have an account? No
            problem, register with us today!</p>
        </div>
        <div class="flex-row-gap-10">
          <a href="/login">
            <button id="login">Login</button>
          </a>
          <a href="/register">
            <button id="register">Register</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/js/script.js"></script>
  <script src="/js/lightbox.js"></script>
  <script>
    const modal = document.querySelector(".overlay"),
    closeModalBtn = document.querySelector("#close-modal-btn"),
    showModalBtn = document.querySelector("#show-modal-btn"),
    body = document.querySelector("body");

    if(showModalBtn){
      setTimeout(function () {
        modal.classList.add("show-modal");
        modal.style.zIndex = "1";
      }, 1000);
    }

    if(showModalBtn){
      showModalBtn.addEventListener("click", () => {
        modal.classList.remove("hide-modal");
        modal.classList.add("show-modal");
        modal.style.zIndex = "1";
      })
    }

    if(closeModalBtn){
      closeModalBtn.addEventListener("click", () => {
        modal.classList.remove("show-modal");
        modal.classList.add("hide-modal");
        modal.style.zIndex = "-1";
      })
    }

  </script>

<%- include("partials/footer.ejs") %>